<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>1</key>
			<array>	
				<string>{ -21.50000,-4.00000 }</string>	
				<string>{ -15.50000,-11.00000 }</string>	
				<string>{ -33.50000,-21.00000 }</string>	
				<string>{ -40.50000,-10.00000 }</string>
			</array>
		<key>2</key>
			<array>	
				<string>{ 30.50000,18.00000 }</string>	
				<string>{ 48.50000,1.00000 }</string>	
				<string>{ -15.50000,-11.00000 }</string>	
				<string>{ -21.50000,-4.00000 }</string>	
				<string>{ -27.50000,8.00000 }</string>	
				<string>{ -1.50000,32.00000 }</string>
			</array>
		<key>3</key>
			<array>	
				<string>{ -15.50000,-11.00000 }</string>	
				<string>{ 48.50000,1.00000 }</string>	
				<string>{ 7.50000,-33.00000 }</string>
			</array>
	</dict>
</plist>




