<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jcby_fish_16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3230,961},{176,122}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{176,122}}</string>
                <key>sourceSize</key>
                <string>{190,130}</string>
            </dict>
            <key>jcby_fish_16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2598,968},{176,122}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{176,122}}</string>
                <key>sourceSize</key>
                <string>{190,130}</string>
            </dict>
            <key>jcby_fish_16_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2260,1038},{176,122}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{176,122}}</string>
                <key>sourceSize</key>
                <string>{190,130}</string>
            </dict>
            <key>jcby_fish_16_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3856,248},{178,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{178,122}}</string>
                <key>sourceSize</key>
                <string>{190,130}</string>
            </dict>
            <key>jcby_fish_16_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3234,783},{176,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{176,122}}</string>
                <key>sourceSize</key>
                <string>{190,130}</string>
            </dict>
            <key>jcby_fish_16_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,504},{176,120}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{176,120}}</string>
                <key>sourceSize</key>
                <string>{190,130}</string>
            </dict>
            <key>jcby_fish_16_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2110,590},{176,122}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{176,122}}</string>
                <key>sourceSize</key>
                <string>{190,130}</string>
            </dict>
            <key>jcby_fish_16_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{3856,372},{176,122}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{176,122}}</string>
                <key>sourceSize</key>
                <string>{190,130}</string>
            </dict>
            <key>jcby_fish_17_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3614,252},{240,242}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,50},{240,242}}</string>
                <key>sourceSize</key>
                <string>{280,320}</string>
            </dict>
            <key>jcby_fish_17_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,768},{236,220}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,62},{236,220}}</string>
                <key>sourceSize</key>
                <string>{280,320}</string>
            </dict>
            <key>jcby_fish_17_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3606,496},{242,238}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,52},{242,238}}</string>
                <key>sourceSize</key>
                <string>{280,320}</string>
            </dict>
            <key>jcby_fish_17_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,248},{254,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{254,294}}</string>
                <key>sourceSize</key>
                <string>{280,320}</string>
            </dict>
            <key>jcby_fish_17_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,248},{244,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{244,294}}</string>
                <key>sourceSize</key>
                <string>{280,320}</string>
            </dict>
            <key>jcby_fish_17_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,244},{252,286}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{252,286}}</string>
                <key>sourceSize</key>
                <string>{280,320}</string>
            </dict>
            <key>jcby_fish_18_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,532},{252,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{252,116}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>jcby_fish_18_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,778},{250,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,17},{250,116}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>jcby_fish_18_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2234,644},{248,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{248,116}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>jcby_fish_18_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2484,646},{250,114}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{250,114}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>jcby_fish_18_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2728,770},{252,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{252,112}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>jcby_fish_18_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2982,783},{250,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{250,110}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>jcby_fish_18_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2728,884},{250,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{250,110}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>jcby_fish_18_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,764},{252,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{252,114}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>jcby_fish_19_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,835},{260,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{260,108}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>jcby_fish_19_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,650},{256,112}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{256,112}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>jcby_fish_19_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2980,895},{248,106}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{248,106}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>jcby_fish_19_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2234,762},{254,108}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,27},{254,108}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>jcby_fish_19_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2736,662},{256,106}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,27},{256,106}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>jcby_fish_19_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,837},{260,104}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,31},{260,104}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>jcby_fish_19_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,727},{260,108}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,31},{260,108}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>jcby_fish_19_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,723},{262,110}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{262,110}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>jcby_fish_20_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3092,2},{374,248}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{374,248}}</string>
                <key>sourceSize</key>
                <string>{420,300}</string>
            </dict>
            <key>jcby_fish_20_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{386,250}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{386,250}}</string>
                <key>sourceSize</key>
                <string>{420,300}</string>
            </dict>
            <key>jcby_fish_20_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{384,252}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{384,252}}</string>
                <key>sourceSize</key>
                <string>{420,300}</string>
            </dict>
            <key>jcby_fish_20_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{382,252}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{382,252}}</string>
                <key>sourceSize</key>
                <string>{420,300}</string>
            </dict>
            <key>jcby_fish_20_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{380,252}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{380,252}}</string>
                <key>sourceSize</key>
                <string>{420,300}</string>
            </dict>
            <key>jcby_fish_20_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2712,2},{378,248}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{378,248}}</string>
                <key>sourceSize</key>
                <string>{420,300}</string>
            </dict>
            <key>jcby_fish_20_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,248},{370,248}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{370,248}}</string>
                <key>sourceSize</key>
                <string>{420,300}</string>
            </dict>
            <key>jcby_fish_20_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3468,2},{372,248}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{372,248}}</string>
                <key>sourceSize</key>
                <string>{420,300}</string>
            </dict>
            <key>jcby_fish_20_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2330,2},{380,248}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{380,248}}</string>
                <key>sourceSize</key>
                <string>{420,300}</string>
            </dict>
            <key>jcby_fish_20_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{386,244}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{386,244}}</string>
                <key>sourceSize</key>
                <string>{420,300}</string>
            </dict>
            <key>jcby_fish_20_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,2},{386,240}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{386,240}}</string>
                <key>sourceSize</key>
                <string>{420,300}</string>
            </dict>
            <key>jcby_fish_20_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,2},{386,238}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,34},{386,238}}</string>
                <key>sourceSize</key>
                <string>{420,300}</string>
            </dict>
            <key>jcby_fish_20_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,2},{386,238}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,34},{386,238}}</string>
                <key>sourceSize</key>
                <string>{420,300}</string>
            </dict>
            <key>jcby_fish_20_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{386,244}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{386,244}}</string>
                <key>sourceSize</key>
                <string>{420,300}</string>
            </dict>
            <key>jcby_fish_21_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2490,762},{204,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,10},{204,236}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jcby_fish_21_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,778},{210,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{210,240}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jcby_fish_21_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3602,736},{210,240}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{210,240}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jcby_fish_21_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,943},{208,238}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,10},{208,238}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jcby_fish_21_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,945},{210,238}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,9},{210,238}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jcby_fish_21_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,544},{208,238}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{208,238}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jcby_fish_21_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,936},{210,238}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{210,238}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jcby_fish_22_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,498},{272,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{272,135}}</string>
                <key>sourceSize</key>
                <string>{310,155}</string>
            </dict>
            <key>jcby_fish_22_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,590},{274,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{274,131}}</string>
                <key>sourceSize</key>
                <string>{310,155}</string>
            </dict>
            <key>jcby_fish_22_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,635},{272,131}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{272,131}}</string>
                <key>sourceSize</key>
                <string>{310,155}</string>
            </dict>
            <key>jcby_fish_22_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,590},{274,135}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{274,135}}</string>
                <key>sourceSize</key>
                <string>{310,155}</string>
            </dict>
            <key>jcby_fish_22_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,504},{272,133}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{272,133}}</string>
                <key>sourceSize</key>
                <string>{310,155}</string>
            </dict>
            <key>jcby_fish_22_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{3086,646},{270,135}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{270,135}}</string>
                <key>sourceSize</key>
                <string>{310,155}</string>
            </dict>
            <key>jcby_fish_22_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,639},{270,137}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{270,137}}</string>
                <key>sourceSize</key>
                <string>{310,155}</string>
            </dict>
            <key>jcby_fish_23_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2438,968},{158,166}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{158,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jcby_fish_23_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3354,992},{166,146}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,25},{166,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jcby_fish_23_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3064,1003},{164,152}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{164,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jcby_fish_23_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3358,834},{176,156}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{176,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jcby_fish_23_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{164,162}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{164,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jcby_fish_23_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2260,872},{166,164}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{166,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jcby_fish_23_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2092,926},{166,172}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{166,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jcby_fish_23_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2722,996},{154,170}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,3},{154,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jcby_fish_23_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1016},{160,162}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{160,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jcby_fish_23_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1018},{160,170}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{160,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jcby_fish_23_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2894,1003},{154,168}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{154,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jcby_fish_23_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1030},{148,164}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,10},{148,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jcby_fish_23_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2082,768},{148,156}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,17},{148,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jcby_fish_23_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{3522,992},{160,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{160,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jcby_fish_23_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{3844,976},{158,146}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{158,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jcby_fish_23_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{3684,948},{158,148}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{158,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jcby_fish_24_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,948},{208,230}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,37},{208,230}}</string>
                <key>sourceSize</key>
                <string>{256,320}</string>
            </dict>
            <key>jcby_fish_24_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3086,426},{218,270}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,25},{218,270}}</string>
                <key>sourceSize</key>
                <string>{256,320}</string>
            </dict>
            <key>jcby_fish_24_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3358,426},{232,246}}</string>
                <key>offset</key>
                <string>{3,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,74},{232,246}}</string>
                <key>sourceSize</key>
                <string>{256,320}</string>
            </dict>
            <key>jcby_fish_24_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2244,426},{216,292}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,28},{216,292}}</string>
                <key>sourceSize</key>
                <string>{256,320}</string>
            </dict>
            <key>jcby_fish_24_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2538,426},{218,272}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,43},{218,272}}</string>
                <key>sourceSize</key>
                <string>{256,320}</string>
            </dict>
            <key>jcby_fish_24_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2812,426},{234,272}}</string>
                <key>offset</key>
                <string>{3,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,45},{234,272}}</string>
                <key>sourceSize</key>
                <string>{256,320}</string>
            </dict>
            <key>jcby_fish_55_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,416},{342,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{342,172}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>jcby_fish_55_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2936,252},{338,172}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{338,172}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>jcby_fish_55_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2596,252},{338,172}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{338,172}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>jcby_fish_55_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,242},{342,172}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{342,172}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>jcby_fish_55_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2254,252},{340,172}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{340,172}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>jcby_fish_55_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{3276,252},{336,172}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{336,172}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>jcby_fish_55_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,416},{340,172}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{340,172}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>jcby_fish_55_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,242},{350,172}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{350,172}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>jcby_fish_56_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3358,660},{242,172}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{242,172}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>jcby_fish_56_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,990},{238,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,12},{238,176}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>jcby_fish_56_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,990},{226,188}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,1},{226,188}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>jcby_fish_56_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,764},{208,170}}</string>
                <key>offset</key>
                <string>{24,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,11},{208,170}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>jcby_fish_56_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,754},{216,180}}</string>
                <key>offset</key>
                <string>{25,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,9},{216,180}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>jcby_fish_56_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{3844,738},{236,190}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,5},{236,190}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>jcby_fish_56_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{3842,2},{244,192}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,4},{244,192}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>jcby_fish_56_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{3850,496},{240,184}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{240,184}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jcby_fish_test2.png</string>
            <key>size</key>
            <string>{4036,1180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e622f3c36fabe1fb3134e3db8fe25571:1/1$</string>
            <key>textureFileName</key>
            <string>jcby_fish_test2.png</string>
        </dict>
    </dict>
</plist>
