<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>honghei_baoxianxiangsp-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,854},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,53}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
            <key>honghei_baoxianxiangsp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,784},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,53}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
            <key>honghei_bipaidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1101,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1101,296}}</string>
                <key>sourceSize</key>
                <string>{1101,296}</string>
            </dict>
            <key>honghei_bipaishengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,57},{398,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,258}}</string>
                <key>sourceSize</key>
                <string>{398,258}</string>
            </dict>
            <key>honghei_di-xinxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,852},{188,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,36}}</string>
                <key>sourceSize</key>
                <string>{188,36}</string>
            </dict>
            <key>honghei_fanhui-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,803},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>honghei_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,779},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>honghei_guize-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1980,859},{41,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,49}}</string>
                <key>sourceSize</key>
                <string>{41,49}</string>
            </dict>
            <key>honghei_guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,873},{41,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,49}}</string>
                <key>sourceSize</key>
                <string>{41,49}</string>
            </dict>
            <key>honghei_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,465},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,145}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>honghei_huangguangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,543},{498,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,151}}</string>
                <key>sourceSize</key>
                <string>{498,151}</string>
            </dict>
            <key>honghei_huangguangquan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{995,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{995,140}}</string>
                <key>sourceSize</key>
                <string>{995,140}</string>
            </dict>
            <key>honghei_huwenlu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,300},{65,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,21}}</string>
                <key>sourceSize</key>
                <string>{65,21}</string>
            </dict>
            <key>honghei_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,882},{39,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,35}}</string>
                <key>sourceSize</key>
                <string>{39,35}</string>
            </dict>
            <key>honghei_jinbibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,48},{167,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,36}}</string>
                <key>sourceSize</key>
                <string>{167,36}</string>
            </dict>
            <key>honghei_kaijiangzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,890},{159,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,35}}</string>
                <key>sourceSize</key>
                <string>{159,35}</string>
            </dict>
            <key>honghei_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,696},{108,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,105}}</string>
                <key>sourceSize</key>
                <string>{108,105}</string>
            </dict>
            <key>honghei_landian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,48},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>honghei_lantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,2},{762,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{762,53}}</string>
                <key>sourceSize</key>
                <string>{762,53}</string>
            </dict>
            <key>honghei_lian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,772},{78,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,38}}</string>
                <key>sourceSize</key>
                <string>{78,38}</string>
            </dict>
            <key>honghei_lianzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1869,2},{162,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,44}}</string>
                <key>sourceSize</key>
                <string>{162,44}</string>
            </dict>
            <key>honghei_longwenlu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,568},{65,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,20}}</string>
                <key>sourceSize</key>
                <string>{65,20}</string>
            </dict>
            <key>honghei_lunhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,48},{166,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,40}}</string>
                <key>sourceSize</key>
                <string>{166,40}</string>
            </dict>
            <key>honghei_lz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,910},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>honghei_lz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,910},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>honghei_lz2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,852},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>honghei_lz2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>honghei_lz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,910},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>honghei_lz3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,318},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>honghei_lz3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,48},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>honghei_lz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,910},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>honghei_lz4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,309},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>honghei_lz4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1869,48},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>honghei_lz5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,852},{7,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,6}}</string>
                <key>sourceSize</key>
                <string>{7,6}</string>
            </dict>
            <key>honghei_lz5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,382},{7,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,6}}</string>
                <key>sourceSize</key>
                <string>{7,6}</string>
            </dict>
            <key>honghei_lz6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,317},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>honghei_lz6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,300},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>honghei_lz7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,679},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>honghei_lz7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,859},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>honghei_lztype2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,871},{90,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,39}}</string>
                <key>sourceSize</key>
                <string>{90,39}</string>
            </dict>
            <key>honghei_lztype3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,493},{90,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,39}}</string>
                <key>sourceSize</key>
                <string>{90,39}</string>
            </dict>
            <key>honghei_lztype4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,401},{90,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,39}}</string>
                <key>sourceSize</key>
                <string>{90,39}</string>
            </dict>
            <key>honghei_lztype5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,309},{90,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,39}}</string>
                <key>sourceSize</key>
                <string>{90,39}</string>
            </dict>
            <key>honghei_lztype6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,217},{90,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,39}}</string>
                <key>sourceSize</key>
                <string>{90,39}</string>
            </dict>
            <key>honghei_lztype7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,216},{90,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,39}}</string>
                <key>sourceSize</key>
                <string>{90,39}</string>
            </dict>
            <key>honghei_pailu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{766,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{766,40}}</string>
                <key>sourceSize</key>
                <string>{766,40}</string>
            </dict>
            <key>honghei_qitawanjia-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,700},{78,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,93}}</string>
                <key>sourceSize</key>
                <string>{78,93}</string>
            </dict>
            <key>honghei_qitawanjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,679},{78,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,93}}</string>
                <key>sourceSize</key>
                <string>{78,93}</string>
            </dict>
            <key>honghei_qxsz-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1945,615},{85,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>honghei_qxsz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,786},{85,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>honghei_qxxz-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,699},{85,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>honghei_qxxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,615},{85,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>honghei_setdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,696},{74,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,245}}</string>
                <key>sourceSize</key>
                <string>{74,245}</string>
            </dict>
            <key>honghei_shangzhuang-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,531},{85,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>honghei_shangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,447},{85,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>honghei_shangzhuangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{1062,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1062,266}}</string>
                <key>sourceSize</key>
                <string>{1062,266}</string>
            </dict>
            <key>honghei_sum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,465},{115,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,212}}</string>
                <key>sourceSize</key>
                <string>{115,212}</string>
            </dict>
            <key>honghei_type2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,397},{144,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,48}}</string>
                <key>sourceSize</key>
                <string>{144,48}</string>
            </dict>
            <key>honghei_type3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,850},{144,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,48}}</string>
                <key>sourceSize</key>
                <string>{144,48}</string>
            </dict>
            <key>honghei_type4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,800},{144,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,48}}</string>
                <key>sourceSize</key>
                <string>{144,48}</string>
            </dict>
            <key>honghei_type5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,860},{144,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,48}}</string>
                <key>sourceSize</key>
                <string>{144,48}</string>
            </dict>
            <key>honghei_type6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,750},{144,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,48}}</string>
                <key>sourceSize</key>
                <string>{144,48}</string>
            </dict>
            <key>honghei_type7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,700},{144,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,48}}</string>
                <key>sourceSize</key>
                <string>{144,48}</string>
            </dict>
            <key>honghei_typexianshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,317},{320,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,63}}</string>
                <key>sourceSize</key>
                <string>{320,63}</string>
            </dict>
            <key>honghei_userdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,57},{331,445}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,445}}</string>
                <key>sourceSize</key>
                <string>{331,445}</string>
            </dict>
            <key>honghei_userdi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,382},{261,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,81}}</string>
                <key>sourceSize</key>
                <string>{261,81}</string>
            </dict>
            <key>honghei_xialaanniu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,699},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>honghei_xialaanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,531},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>honghei_xialaanniuup-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,774},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>honghei_xialaanniuup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,317},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>honghei_xiazhuang-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,447},{85,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>honghei_xiazhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,795},{85,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>honghei_xiazhuzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,890},{158,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,35}}</string>
                <key>sourceSize</key>
                <string>{158,35}</string>
            </dict>
            <key>honghei_xin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,854},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>honghei_xinxixianshidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,824},{115,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,45}}</string>
                <key>sourceSize</key>
                <string>{115,45}</string>
            </dict>
            <key>honghei_xutou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,612},{173,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,86}}</string>
                <key>sourceSize</key>
                <string>{173,86}</string>
            </dict>
            <key>honghei_xutouan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,696},{173,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,86}}</string>
                <key>sourceSize</key>
                <string>{173,86}</string>
            </dict>
            <key>honghei_xutouhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,772},{173,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,86}}</string>
                <key>sourceSize</key>
                <string>{173,86}</string>
            </dict>
            <key>honghei_xzjbdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,568},{301,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,37}}</string>
                <key>sourceSize</key>
                <string>{301,37}</string>
            </dict>
            <key>honghei_yinxiao-off-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,873},{41,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,49}}</string>
                <key>sourceSize</key>
                <string>{41,49}</string>
            </dict>
            <key>honghei_yinxiao-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,871},{41,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,49}}</string>
                <key>sourceSize</key>
                <string>{41,49}</string>
            </dict>
            <key>honghei_yinxiao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,854},{41,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,49}}</string>
                <key>sourceSize</key>
                <string>{41,49}</string>
            </dict>
            <key>honghei_yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,803},{41,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,49}}</string>
                <key>sourceSize</key>
                <string>{41,49}</string>
            </dict>
            <key>honghei_yinyue-off-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,883},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>honghei_yinyue-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,309},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>honghei_yinyue-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,839},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>honghei_yinyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,882},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>honghei_zhuanganniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,784},{128,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,38}}</string>
                <key>sourceSize</key>
                <string>{128,38}</string>
            </dict>
            <key>honghei_ziguangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{995,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{995,140}}</string>
                <key>sourceSize</key>
                <string>{995,140}</string>
            </dict>
            <key>honghei_ziguangquan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,390},{498,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,151}}</string>
                <key>sourceSize</key>
                <string>{498,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hongheidazhan.png</string>
            <key>size</key>
            <string>{2045,927}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:587b3347abd9c2d72df9ff39b12df0a7$</string>
            <key>textureFileName</key>
            <string>hongheidazhan.png</string>
        </dict>
    </dict>
</plist>
