<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BJL_chou_1-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1330},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>BJL_chou_1-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1448},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>BJL_chou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1407},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>BJL_chou_10-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1330},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>BJL_chou_10-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1348},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>BJL_chou_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1307},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>BJL_chou_100-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1248},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>BJL_chou_100-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1207},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>BJL_chou_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1107},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>BJL_chou_1000-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1038},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>BJL_chou_1000-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1007},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>BJL_chou_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,907},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>BJL_chou_50-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,807},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>BJL_chou_50-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,707},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>BJL_chou_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,607},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>BJL_chou_500-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,507},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>BJL_chou_500-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,648},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>BJL_chou_500.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>anniu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1130},{189,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,85}}</string>
                <key>sourceSize</key>
                <string>{189,85}</string>
            </dict>
            <key>anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1086},{189,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,85}}</string>
                <key>sourceSize</key>
                <string>{189,85}</string>
            </dict>
            <key>biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{491,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,62}}</string>
                <key>sourceSize</key>
                <string>{491,62}</string>
            </dict>
            <key>bujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,752},{75,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,37}}</string>
                <key>sourceSize</key>
                <string>{75,37}</string>
            </dict>
            <key>bujiao2-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1006},{206,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,78}}</string>
                <key>sourceSize</key>
                <string>{206,78}</string>
            </dict>
            <key>bujiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,926},{206,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,78}}</string>
                <key>sourceSize</key>
                <string>{206,78}</string>
            </dict>
            <key>changdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,406},{81,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,40}}</string>
                <key>sourceSize</key>
                <string>{81,40}</string>
            </dict>
            <key>chouma.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,230},{45,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,47}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>daojishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1362},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>dengdaijiaozhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,833},{248,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,38}}</string>
                <key>sourceSize</key>
                <string>{248,38}</string>
            </dict>
            <key>di-chouma.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1865},{139,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,26}}</string>
                <key>sourceSize</key>
                <string>{139,26}</string>
            </dict>
            <key>di-fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,230},{249,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,279}}</string>
                <key>sourceSize</key>
                <string>{249,279}</string>
            </dict>
            <key>di-jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,486},{108,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,19}}</string>
                <key>sourceSize</key>
                <string>{108,19}</string>
            </dict>
            <key>di-quxiaotuoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,16},{695,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{695,63}}</string>
                <key>sourceSize</key>
                <string>{695,63}</string>
            </dict>
            <key>di-touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,1138},{121,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,183}}</string>
                <key>sourceSize</key>
                <string>{121,183}</string>
            </dict>
            <key>di-wancheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,755},{223,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,49}}</string>
                <key>sourceSize</key>
                <string>{223,49}</string>
            </dict>
            <key>fang.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1217},{155,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,178}}</string>
                <key>sourceSize</key>
                <string>{155,178}</string>
            </dict>
            <key>fanhui(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{125,860},{58,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,29}}</string>
                <key>sourceSize</key>
                <string>{58,29}</string>
            </dict>
            <key>fanhui-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1154},{130,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,49}}</string>
                <key>sourceSize</key>
                <string>{130,49}</string>
            </dict>
            <key>fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1022},{130,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,49}}</string>
                <key>sourceSize</key>
                <string>{130,49}</string>
            </dict>
            <key>fapaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,891},{129,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,55}}</string>
                <key>sourceSize</key>
                <string>{129,55}</string>
            </dict>
            <key>fuhaochang.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1721},{142,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,48}}</string>
                <key>sourceSize</key>
                <string>{142,48}</string>
            </dict>
            <key>guanbi-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1374},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1374},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>guize-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1430},{81,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,83}}</string>
                <key>sourceSize</key>
                <string>{81,83}</string>
            </dict>
            <key>guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1548},{81,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,83}}</string>
                <key>sourceSize</key>
                <string>{81,83}</string>
            </dict>
            <key>hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1173},{155,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,178}}</string>
                <key>sourceSize</key>
                <string>{155,178}</string>
            </dict>
            <key>hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,828},{155,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,178}}</string>
                <key>sourceSize</key>
                <string>{155,178}</string>
            </dict>
            <key>hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,648},{155,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,178}}</string>
                <key>sourceSize</key>
                <string>{155,178}</string>
            </dict>
            <key>jiaozhuang-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,846},{206,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,78}}</string>
                <key>sourceSize</key>
                <string>{206,78}</string>
            </dict>
            <key>jiaozhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,766},{206,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,78}}</string>
                <key>sourceSize</key>
                <string>{206,78}</string>
            </dict>
            <key>jiazaidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1011,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1011,12}}</string>
                <key>sourceSize</key>
                <string>{1011,12}</string>
            </dict>
            <key>jiazaitiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1008},{1025,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1025,26}}</string>
                <key>sourceSize</key>
                <string>{1025,26}</string>
            </dict>
            <key>jiluban.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,717},{252,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,114}}</string>
                <key>sourceSize</key>
                <string>{252,114}</string>
            </dict>
            <key>jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1217},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>jishikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1261},{97,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,97}}</string>
                <key>sourceSize</key>
                <string>{99,101}</string>
            </dict>
            <key>kaishi-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,686},{206,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,78}}</string>
                <key>sourceSize</key>
                <string>{206,78}</string>
            </dict>
            <key>kaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,606},{206,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,78}}</string>
                <key>sourceSize</key>
                <string>{206,78}</string>
            </dict>
            <key>kuaisukaishi-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,123},{316,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,105}}</string>
                <key>sourceSize</key>
                <string>{316,105}</string>
            </dict>
            <key>kuaisukaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,16},{316,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,105}}</string>
                <key>sourceSize</key>
                <string>{316,105}</string>
            </dict>
            <key>laobanchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1576},{143,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,48}}</string>
                <key>sourceSize</key>
                <string>{143,48}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{473,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,300}}</string>
                <key>sourceSize</key>
                <string>{473,300}</string>
            </dict>
            <key>pingminchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1431},{143,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,48}}</string>
                <key>sourceSize</key>
                <string>{143,48}</string>
            </dict>
            <key>quxiaotuoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,684},{256,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,31}}</string>
                <key>sourceSize</key>
                <string>{256,31}</string>
            </dict>
            <key>shangdiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,755},{1280,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,121}}</string>
                <key>sourceSize</key>
                <string>{1280,121}</string>
            </dict>
            <key>shouna-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1507},{81,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,83}}</string>
                <key>sourceSize</key>
                <string>{81,83}</string>
            </dict>
            <key>shouna.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1430},{81,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,83}}</string>
                <key>sourceSize</key>
                <string>{81,83}</string>
            </dict>
            <key>shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1009},{347,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,27}}</string>
                <key>sourceSize</key>
                <string>{347,27}</string>
            </dict>
            <key>shuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,648},{270,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,34}}</string>
                <key>sourceSize</key>
                <string>{270,34}</string>
            </dict>
            <key>suijixiazhu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1038},{240,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,90}}</string>
                <key>sourceSize</key>
                <string>{240,90}</string>
            </dict>
            <key>suijixiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,873},{240,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,90}}</string>
                <key>sourceSize</key>
                <string>{240,90}</string>
            </dict>
            <key>tanpai-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,526},{206,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,78}}</string>
                <key>sourceSize</key>
                <string>{206,78}</string>
            </dict>
            <key>tanpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,446},{206,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,78}}</string>
                <key>sourceSize</key>
                <string>{206,78}</string>
            </dict>
            <key>touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,791},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1261},{99,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,101}}</string>
                <key>sourceSize</key>
                <string>{99,101}</string>
            </dict>
            <key>tuoguan-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,1453},{81,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,83}}</string>
                <key>sourceSize</key>
                <string>{81,83}</string>
            </dict>
            <key>tuoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1445},{81,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,83}}</string>
                <key>sourceSize</key>
                <string>{81,83}</string>
            </dict>
            <key>tuoguantubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1360},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>wancheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,279},{125,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,40}}</string>
                <key>sourceSize</key>
                <string>{125,40}</string>
            </dict>
            <key>wanjiadi.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,481},{270,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,165}}</string>
                <key>sourceSize</key>
                <string>{270,165}</string>
            </dict>
            <key>xiaozichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1286},{143,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,48}}</string>
                <key>sourceSize</key>
                <string>{143,48}</string>
            </dict>
            <key>ying.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,980},{347,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,27}}</string>
                <key>sourceSize</key>
                <string>{347,27}</string>
            </dict>
            <key>yinxiaoguan-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1104},{130,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,46}}</string>
                <key>sourceSize</key>
                <string>{130,46}</string>
            </dict>
            <key>yinxiaoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1056},{130,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,46}}</string>
                <key>sourceSize</key>
                <string>{130,46}</string>
            </dict>
            <key>yinxiaokai-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,622},{131,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,46}}</string>
                <key>sourceSize</key>
                <string>{131,46}</string>
            </dict>
            <key>yinxiaokai.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,489},{131,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,46}}</string>
                <key>sourceSize</key>
                <string>{131,46}</string>
            </dict>
            <key>yinyueguan-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1008},{130,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,46}}</string>
                <key>sourceSize</key>
                <string>{130,46}</string>
            </dict>
            <key>yinyueguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,833},{130,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,46}}</string>
                <key>sourceSize</key>
                <string>{130,46}</string>
            </dict>
            <key>yinyuekai-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1200},{129,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,46}}</string>
                <key>sourceSize</key>
                <string>{129,46}</string>
            </dict>
            <key>yinyuekai.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1152},{129,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,46}}</string>
                <key>sourceSize</key>
                <string>{129,46}</string>
            </dict>
            <key>yizhunbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,447},{108,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,37}}</string>
                <key>sourceSize</key>
                <string>{108,37}</string>
            </dict>
            <key>zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1453},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zhuozi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{363,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,199}}</string>
                <key>sourceSize</key>
                <string>{363,199}</string>
            </dict>
            <key>zhuozi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,81},{363,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,199}}</string>
                <key>sourceSize</key>
                <string>{363,199}</string>
            </dict>
            <key>zi-jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,481},{198,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,17}}</string>
                <key>sourceSize</key>
                <string>{198,17}</string>
            </dict>
            <key>zi-jishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,681},{150,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,20}}</string>
                <key>sourceSize</key>
                <string>{150,20}</string>
            </dict>
            <key>zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1865},{173,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,27}}</string>
                <key>sourceSize</key>
                <string>{173,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>errenniuniu.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a9c7db9b7128313ceb375036d7337c6$</string>
            <key>textureFileName</key>
            <string>errenniuniu.png</string>
        </dict>
    </dict>
</plist>
