<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slhb_shouzhi-an_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,230},{92,86}}</string>
                <key>offset</key>
                <string>{23,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,46},{92,86}}</string>
                <key>sourceSize</key>
                <string>{164,132}</string>
            </dict>
            <key>slhb_shouzhi-an_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,414},{92,96}}</string>
                <key>offset</key>
                <string>{25,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,34},{92,96}}</string>
                <key>sourceSize</key>
                <string>{164,132}</string>
            </dict>
            <key>slhb_shouzhi-an_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,124}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{148,124}}</string>
                <key>sourceSize</key>
                <string>{164,132}</string>
            </dict>
            <key>slhb_shouzhi-an_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,230},{92,86}}</string>
                <key>offset</key>
                <string>{23,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,46},{92,86}}</string>
                <key>sourceSize</key>
                <string>{164,132}</string>
            </dict>
            <key>slhb_shouzhi-an_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,308},{86,104}}</string>
                <key>offset</key>
                <string>{31,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,17},{86,104}}</string>
                <key>sourceSize</key>
                <string>{164,132}</string>
            </dict>
            <key>slhb_shouzhi-an_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{122,80}}</string>
                <key>offset</key>
                <string>{19,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{122,80}}</string>
                <key>sourceSize</key>
                <string>{164,132}</string>
            </dict>
            <key>slhb_shouzhi-an_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{116,90}}</string>
                <key>offset</key>
                <string>{12,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,37},{116,90}}</string>
                <key>sourceSize</key>
                <string>{164,132}</string>
            </dict>
            <key>slhb_shouzhi-an_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{122,96}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,31},{122,96}}</string>
                <key>sourceSize</key>
                <string>{164,132}</string>
            </dict>
            <key>slhb_shouzhi-an_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,122},{132,106}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{132,106}}</string>
                <key>sourceSize</key>
                <string>{164,132}</string>
            </dict>
            <key>slhb_shouzhi-an_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,116},{134,110}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{134,110}}</string>
                <key>sourceSize</key>
                <string>{164,132}</string>
            </dict>
            <key>slhb_shouzhi-an_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{138,112}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{138,112}}</string>
                <key>sourceSize</key>
                <string>{164,132}</string>
            </dict>
            <key>slhb_shouzhi-an_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{144,118}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{144,118}}</string>
                <key>sourceSize</key>
                <string>{164,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slhb_finger.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57f61864cc6da933b6a16aae3ed6df9d$</string>
            <key>textureFileName</key>
            <string>slhb_finger.png</string>
        </dict>
    </dict>
</plist>
