<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slhb_0-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1726},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>slhb_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1831},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>slhb_1-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1923},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>slhb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1634},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>slhb_2-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1634},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>slhb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1831},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>slhb_3-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1697},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>slhb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1669},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>slhb_4-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1625},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>slhb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1619},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>slhb_5-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1597},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>slhb_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1547},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>slhb_6-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1548},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>slhb_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1502},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>slhb_7-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1476},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>slhb_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1553},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>slhb_8-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1430},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>slhb_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1481},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>slhb_9-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1409},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>slhb_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,1280},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>slhb_anniuxiao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1352},{110,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,55}}</string>
                <key>sourceSize</key>
                <string>{110,55}</string>
            </dict>
            <key>slhb_anniuxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,60},{110,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,55}}</string>
                <key>sourceSize</key>
                <string>{110,55}</string>
            </dict>
            <key>slhb_baoshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,1379},{167,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,38}}</string>
                <key>sourceSize</key>
                <string>{167,38}</string>
            </dict>
            <key>slhb_chenggongmailei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1188},{412,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,337}}</string>
                <key>sourceSize</key>
                <string>{412,337}</string>
            </dict>
            <key>slhb_dabaoyouxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1436},{128,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,33}}</string>
                <key>sourceSize</key>
                <string>{128,33}</string>
            </dict>
            <key>slhb_daoleiliebiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{354,633}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,633}}</string>
                <key>sourceSize</key>
                <string>{354,633}</string>
            </dict>
            <key>slhb_dengdaiwanjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1379},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>slhb_dianwo.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1358},{109,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,70}}</string>
                <key>sourceSize</key>
                <string>{109,70}</string>
            </dict>
            <key>slhb_digray.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,221},{533,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,41}}</string>
                <key>sourceSize</key>
                <string>{533,41}</string>
            </dict>
            <key>slhb_dingbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{621,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{621,142}}</string>
                <key>sourceSize</key>
                <string>{621,142}</string>
            </dict>
            <key>slhb_fanhui-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1595},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>slhb_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1574},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>slhb_fenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1057},{442,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,129}}</string>
                <key>sourceSize</key>
                <string>{442,129}</string>
            </dict>
            <key>slhb_guanbi-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1969},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>slhb_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1831},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>slhb_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{531,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,412}}</string>
                <key>sourceSize</key>
                <string>{531,412}</string>
            </dict>
            <key>slhb_guize-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1527},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>slhb_guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1527},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>slhb_head_female.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1741},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>slhb_head_male.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,1511},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>slhb_hengdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{745,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{745,56}}</string>
                <key>sourceSize</key>
                <string>{745,56}</string>
            </dict>
            <key>slhb_hongbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,1419},{65,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,33}}</string>
                <key>sourceSize</key>
                <string>{65,33}</string>
            </dict>
            <key>slhb_hongbaojine.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1265},{208,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,39}}</string>
                <key>sourceSize</key>
                <string>{208,39}</string>
            </dict>
            <key>slhb_hongbaotubiao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,450},{278,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,339}}</string>
                <key>sourceSize</key>
                <string>{278,339}</string>
            </dict>
            <key>slhb_hongbaotubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,170},{278,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,339}}</string>
                <key>sourceSize</key>
                <string>{278,339}</string>
            </dict>
            <key>slhb_jia-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1574},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>slhb_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1057},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>slhb_jian-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1574},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>slhb_jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,1574},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>slhb_jinbikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1436},{133,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,38}}</string>
                <key>sourceSize</key>
                <string>{133,38}</string>
            </dict>
            <key>slhb_kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,940},{480,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,190}}</string>
                <key>sourceSize</key>
                <string>{480,190}</string>
            </dict>
            <key>slhb_ladonganniu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1694},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>slhb_ladonganniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1625},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>slhb_ladongtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,147},{378,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,21}}</string>
                <key>sourceSize</key>
                <string>{378,21}</string>
            </dict>
            <key>slhb_ladongtiaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,117},{384,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,28}}</string>
                <key>sourceSize</key>
                <string>{384,28}</string>
            </dict>
            <key>slhb_leihao.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1342},{167,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,49}}</string>
                <key>sourceSize</key>
                <string>{167,49}</string>
            </dict>
            <key>slhb_liebiaokuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1132},{403,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,99}}</string>
                <key>sourceSize</key>
                <string>{403,99}</string>
            </dict>
            <key>slhb_morenwei0.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,974},{84,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,22}}</string>
                <key>sourceSize</key>
                <string>{84,22}</string>
            </dict>
            <key>slhb_qianghongbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1233},{214,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,30}}</string>
                <key>sourceSize</key>
                <string>{214,30}</string>
            </dict>
            <key>slhb_shedingjine.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1306},{193,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,34}}</string>
                <key>sourceSize</key>
                <string>{193,34}</string>
            </dict>
            <key>slhb_shenqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,52},{273,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,48}}</string>
                <key>sourceSize</key>
                <string>{273,48}</string>
            </dict>
            <key>slhb_shenqingmailei-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1306},{178,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,71}}</string>
                <key>sourceSize</key>
                <string>{178,71}</string>
            </dict>
            <key>slhb_shenqingmailei.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1233},{178,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,71}}</string>
                <key>sourceSize</key>
                <string>{178,71}</string>
            </dict>
            <key>slhb_shezhileihao.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,756},{106,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,26}}</string>
                <key>sourceSize</key>
                <string>{106,26}</string>
            </dict>
            <key>slhb_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1419},{126,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,141}}</string>
                <key>sourceSize</key>
                <string>{126,141}</string>
            </dict>
            <key>slhb_shurukuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1393},{149,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,41}}</string>
                <key>sourceSize</key>
                <string>{149,41}</string>
            </dict>
            <key>slhb_touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,1132},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>slhb_wanjia-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1900},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>slhb_wanjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1663},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>slhb_wanjialiebiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,2},{273,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,48}}</string>
                <key>sourceSize</key>
                <string>{273,48}</string>
            </dict>
            <key>slhb_xiabu.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,804},{481,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,134}}</string>
                <key>sourceSize</key>
                <string>{481,134}</string>
            </dict>
            <key>slhb_xialaanniu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1741},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>slhb_xialaanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1974},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>slhb_xialaanniu2-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1831},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>slhb_xialaanniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1905},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>slhb_xialadi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{81,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,500}}</string>
                <key>sourceSize</key>
                <string>{81,500}</string>
            </dict>
            <key>slhb_xinxikuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1114},{242,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,86}}</string>
                <key>sourceSize</key>
                <string>{242,86}</string>
            </dict>
            <key>slhb_xinxikuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,560},{242,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,86}}</string>
                <key>sourceSize</key>
                <string>{242,86}</string>
            </dict>
            <key>slhb_yinliang-c-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1634},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>slhb_yinliang-c.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1741},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>slhb_yinliang-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1831},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>slhb_yinliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1923},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>slhb_yinxiao-c-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1923},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>slhb_yinxiao-c.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1527},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>slhb_yinxiao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1634},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>slhb_yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1763},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>slhb_yinyue-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1566},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>slhb_yinyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,1212},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>slhb_yinyue2-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,730},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>slhb_yinyue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,730},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>slhb_yuerbao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,730},{76,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,72}}</string>
                <key>sourceSize</key>
                <string>{76,72}</string>
            </dict>
            <key>slhb_yuerbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,730},{76,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,72}}</string>
                <key>sourceSize</key>
                <string>{76,72}</string>
            </dict>
            <key>slhb_zhongleitubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,170},{43,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,49}}</string>
                <key>sourceSize</key>
                <string>{43,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slhb_image2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9d9514d8131f4fbdc6bd1d57b617e0c$</string>
            <key>textureFileName</key>
            <string>slhb_image2.png</string>
        </dict>
    </dict>
</plist>
