<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shz_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,81},{707,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{707,26}}</string>
                <key>sourceSize</key>
                <string>{707,26}</string>
            </dict>
            <key>shz_caijinbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,41},{137,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,38}}</string>
                <key>sourceSize</key>
                <string>{137,38}</string>
            </dict>
            <key>shz_caijinbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1372,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1372,720}}</string>
                <key>sourceSize</key>
                <string>{1372,720}</string>
            </dict>
            <key>shz_caijinchi.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,2},{138,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,37}}</string>
                <key>sourceSize</key>
                <string>{138,37}</string>
            </dict>
            <key>shz_caijinhuode.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1376},{705,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{705,37}}</string>
                <key>sourceSize</key>
                <string>{705,37}</string>
            </dict>
            <key>shz_guanbi-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,751},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>shz_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,671},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>shz_hengtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,178},{707,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{707,50}}</string>
                <key>sourceSize</key>
                <string>{707,50}</string>
            </dict>
            <key>shz_jiangchikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,178},{491,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,89}}</string>
                <key>sourceSize</key>
                <string>{491,89}</string>
            </dict>
            <key>shz_kaijiangjilu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,90},{151,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,86}}</string>
                <key>sourceSize</key>
                <string>{151,86}</string>
            </dict>
            <key>shz_kaijiangjilu.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{151,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,86}}</string>
                <key>sourceSize</key>
                <string>{151,86}</string>
            </dict>
            <key>shz_shuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,831},{688,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{688,71}}</string>
                <key>sourceSize</key>
                <string>{688,71}</string>
            </dict>
            <key>shz_wanjiaxinxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,81},{717,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{717,110}}</string>
                <key>sourceSize</key>
                <string>{717,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caijin.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d72538e7fbdc2b6bd19945326282b00:1/1$</string>
            <key>textureFileName</key>
            <string>caijin.png</string>
        </dict>
    </dict>
</plist>
