<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,225},{45,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,31}}</string>
                <key>sourceSize</key>
                <string>{45,31}</string>
            </dict>
            <key>money.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,130},{213,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,80}}</string>
                <key>sourceSize</key>
                <string>{213,80}</string>
            </dict>
            <key>shz_1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1430},{1077,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{1077,27}}</string>
                <key>sourceSize</key>
                <string>{1079,27}</string>
            </dict>
            <key>shz_2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1401},{1077,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{1077,27}}</string>
                <key>sourceSize</key>
                <string>{1079,27}</string>
            </dict>
            <key>shz_3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,172},{1077,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{1077,27}}</string>
                <key>sourceSize</key>
                <string>{1079,27}</string>
            </dict>
            <key>shz_4-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{1077,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{1077,350}}</string>
                <key>sourceSize</key>
                <string>{1079,350}</string>
            </dict>
            <key>shz_5-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{1077,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{1077,350}}</string>
                <key>sourceSize</key>
                <string>{1079,350}</string>
            </dict>
            <key>shz_6-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1224},{1077,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{1077,175}}</string>
                <key>sourceSize</key>
                <string>{1079,175}</string>
            </dict>
            <key>shz_7-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1047},{1077,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{1077,175}}</string>
                <key>sourceSize</key>
                <string>{1079,175}</string>
            </dict>
            <key>shz_8-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{1077,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{1077,211}}</string>
                <key>sourceSize</key>
                <string>{1079,211}</string>
            </dict>
            <key>shz_9-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,212},{1077,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{1077,211}}</string>
                <key>sourceSize</key>
                <string>{1079,211}</string>
            </dict>
            <key>shz_bangzhu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1934},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>shz_bangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1934},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>shz_dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,1577},{185,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,126}}</string>
                <key>sourceSize</key>
                <string>{185,126}</string>
            </dict>
            <key>shz_dao_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,1553},{185,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,126}}</string>
                <key>sourceSize</key>
                <string>{185,126}</string>
            </dict>
            <key>shz_fanhui-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,1524},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>shz_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,1445},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>shz_fu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,1449},{185,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,126}}</string>
                <key>sourceSize</key>
                <string>{185,126}</string>
            </dict>
            <key>shz_fu_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,1494},{185,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,126}}</string>
                <key>sourceSize</key>
                <string>{185,126}</string>
            </dict>
            <key>shz_gengduo-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,1366},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>shz_gengduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,1431},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>shz_huojiangzitiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1333,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{1333,126}}</string>
                <key>sourceSize</key>
                <string>{1335,128}</string>
            </dict>
            <key>shz_jia-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1711},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>shz_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,1287},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>shz_jian-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,1233},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>shz_jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,1179},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>shz_jiangchishuoming-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,130},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>shz_jiangchishuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,225},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>shz_jiangcixianshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,2},{595,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,56}}</string>
                <key>sourceSize</key>
                <string>{595,56}</string>
            </dict>
            <key>shz_kaishi-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1765},{167,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,63}}</string>
                <key>sourceSize</key>
                <string>{167,63}</string>
            </dict>
            <key>shz_kaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1765},{167,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,63}}</string>
                <key>sourceSize</key>
                <string>{167,63}</string>
            </dict>
            <key>shz_lianxiankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,1179},{199,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,140}}</string>
                <key>sourceSize</key>
                <string>{199,140}</string>
            </dict>
            <key>shz_lin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,1419},{185,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,126}}</string>
                <key>sourceSize</key>
                <string>{185,126}</string>
            </dict>
            <key>shz_lin_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,1366},{185,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,126}}</string>
                <key>sourceSize</key>
                <string>{185,126}</string>
            </dict>
            <key>shz_lu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,1425},{185,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,126}}</string>
                <key>sourceSize</key>
                <string>{185,126}</string>
            </dict>
            <key>shz_lu_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,1321},{185,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,126}}</string>
                <key>sourceSize</key>
                <string>{185,126}</string>
            </dict>
            <key>shz_morekuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,1179},{89,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,276}}</string>
                <key>sourceSize</key>
                <string>{89,276}</string>
            </dict>
            <key>shz_qiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,1291},{185,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,126}}</string>
                <key>sourceSize</key>
                <string>{185,126}</string>
            </dict>
            <key>shz_qiang_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,1297},{185,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,126}}</string>
                <key>sourceSize</key>
                <string>{185,126}</string>
            </dict>
            <key>shz_shuihuzhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,1169},{185,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,126}}</string>
                <key>sourceSize</key>
                <string>{185,126}</string>
            </dict>
            <key>shz_shuihuzhuan_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,1041},{185,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,126}}</string>
                <key>sourceSize</key>
                <string>{185,126}</string>
            </dict>
            <key>shz_song.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,913},{185,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,126}}</string>
                <key>sourceSize</key>
                <string>{185,126}</string>
            </dict>
            <key>shz_song_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,785},{185,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,126}}</string>
                <key>sourceSize</key>
                <string>{185,126}</string>
            </dict>
            <key>shz_tingzhi-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1765},{167,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,63}}</string>
                <key>sourceSize</key>
                <string>{167,63}</string>
            </dict>
            <key>shz_tingzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,1681},{167,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,63}}</string>
                <key>sourceSize</key>
                <string>{167,63}</string>
            </dict>
            <key>shz_titianxingdao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,657},{185,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,126}}</string>
                <key>sourceSize</key>
                <string>{185,126}</string>
            </dict>
            <key>shz_titianxingdao_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,529},{185,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,126}}</string>
                <key>sourceSize</key>
                <string>{185,126}</string>
            </dict>
            <key>shz_touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,1341},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>shz_tuoguan-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1547},{143,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,56}}</string>
                <key>sourceSize</key>
                <string>{143,56}</string>
            </dict>
            <key>shz_tuoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1547},{143,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,56}}</string>
                <key>sourceSize</key>
                <string>{143,56}</string>
            </dict>
            <key>shz_yinxiao1-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1934},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>shz_yinxiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1459},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>shz_yinxiao2-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1459},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>shz_yinxiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1459},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>shz_yinyue1-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1459},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>shz_yinyue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1547},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>shz_yinyue2-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1622},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>shz_yinyue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,1698},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>shz_yuerbao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,1577},{77,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,65}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>shz_yuerbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,1510},{77,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,65}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>shz_zhanji-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,1603},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>shz_zhanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,1644},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>shz_zhongkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,60},{1117,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1117,520}}</string>
                <key>sourceSize</key>
                <string>{1117,520}</string>
            </dict>
            <key>shz_zhongyitang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,401},{185,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,126}}</string>
                <key>sourceSize</key>
                <string>{185,126}</string>
            </dict>
            <key>shz_zhongyitang_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,273},{185,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,126}}</string>
                <key>sourceSize</key>
                <string>{185,126}</string>
            </dict>
            <key>shz_zidong-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1547},{143,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,56}}</string>
                <key>sourceSize</key>
                <string>{143,56}</string>
            </dict>
            <key>shz_zidong.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1705},{143,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,56}}</string>
                <key>sourceSize</key>
                <string>{143,56}</string>
            </dict>
            <key>shz_zidong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,1553},{143,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,56}}</string>
                <key>sourceSize</key>
                <string>{143,56}</string>
            </dict>
            <key>yafeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,1270},{269,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,94}}</string>
                <key>sourceSize</key>
                <string>{269,94}</string>
            </dict>
            <key>yingfen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,2},{269,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,97}}</string>
                <key>sourceSize</key>
                <string>{269,97}</string>
            </dict>
            <key>zidong3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,60},{163,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,73}}</string>
                <key>sourceSize</key>
                <string>{163,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tableLayer.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:064de92d25407931d2ab18852cda6b6e:6d825933efb4dac77ebe874e42e7ce55:747601f18e26d8a16a85fe0606e1c9b1$</string>
            <key>textureFileName</key>
            <string>tableLayer.png</string>
        </dict>
    </dict>
</plist>
