<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_44_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,446},{612,316}}</string>
                <key>offset</key>
                <string>{-3,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{612,316}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,436},{602,420}}</string>
                <key>offset</key>
                <string>{6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{602,420}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,2},{604,432}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{604,432}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{610,442}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{610,442}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{612,458}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,458}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{608,460}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,460}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{604,460}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,460}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1386},{600,460}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,460}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,2},{594,460}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,460}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2430,2},{590,460}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{590,460}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{3022,2},{586,460}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{586,460}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2366,1818},{614,326}}</string>
                <key>offset</key>
                <string>{-2,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{614,326}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{3026,464},{582,460}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{582,460}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2418,894},{578,460}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{578,460}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{3576,926},{576,460}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{576,460}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2998,926},{576,460}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{576,460}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,1682},{572,460}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{572,460}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,1672},{572,460}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{572,460}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2990,1388},{572,460}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{572,460}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2414,1356},{574,460}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{574,460}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,1224},{576,446}}</string>
                <key>offset</key>
                <string>{-17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{576,446}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,862},{582,448}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{582,448}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,764},{616,328}}</string>
                <key>offset</key>
                <string>{0,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{616,328}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2436,464},{588,428}}</string>
                <key>offset</key>
                <string>{-17,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{588,428}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{3610,2},{592,422}}</string>
                <key>offset</key>
                <string>{-15,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{592,422}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1426},{596,384}}</string>
                <key>offset</key>
                <string>{-13,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{596,384}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1812},{600,368}}</string>
                <key>offset</key>
                <string>{-10,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{600,368}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,858},{602,364}}</string>
                <key>offset</key>
                <string>{-8,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{602,364}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1094},{616,330}}</string>
                <key>offset</key>
                <string>{1,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{616,330}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3598,1504},{614,330}}</string>
                <key>offset</key>
                <string>{3,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{614,330}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2982,1850},{614,330}}</string>
                <key>offset</key>
                <string>{3,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{614,330}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1848},{612,346}}</string>
                <key>offset</key>
                <string>{3,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{612,346}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,1312},{608,368}}</string>
                <key>offset</key>
                <string>{5,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{608,368}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
            <key>fish_44_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,464},{600,396}}</string>
                <key>offset</key>
                <string>{8,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{600,396}}</string>
                <key>sourceSize</key>
                <string>{624,460}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss1.png</string>
            <key>size</key>
            <string>{4038,2196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29806cfed9662a7a6b7afe506122a155:1/1$</string>
            <key>textureFileName</key>
            <string>boss1.png</string>
        </dict>
    </dict>
</plist>
