<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_41_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3568,1620},{434,302}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,47},{434,302}}</string>
                <key>sourceSize</key>
                <string>{480,400}</string>
            </dict>
            <key>fish_41_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3322,2},{426,326}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{426,326}}</string>
                <key>sourceSize</key>
                <string>{480,400}</string>
            </dict>
            <key>fish_41_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3638,430},{422,320}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,23},{422,320}}</string>
                <key>sourceSize</key>
                <string>{480,400}</string>
            </dict>
            <key>fish_41_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3568,1308},{434,310}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,32},{434,310}}</string>
                <key>sourceSize</key>
                <string>{480,400}</string>
            </dict>
            <key>fish_41_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3650,2},{424,308}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,34},{424,308}}</string>
                <key>sourceSize</key>
                <string>{480,400}</string>
            </dict>
            <key>fish_41_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3698,854},{440,300}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,46},{440,300}}</string>
                <key>sourceSize</key>
                <string>{480,400}</string>
            </dict>
            <key>fish_41_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1654},{442,302}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,47},{442,302}}</string>
                <key>sourceSize</key>
                <string>{480,400}</string>
            </dict>
            <key>fish_41_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1654},{440,308}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,41},{440,308}}</string>
                <key>sourceSize</key>
                <string>{480,400}</string>
            </dict>
            <key>fish_41_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3254,1368},{444,312}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,38},{444,312}}</string>
                <key>sourceSize</key>
                <string>{480,400}</string>
            </dict>
            <key>fish_41_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3316,446},{436,320}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,31},{436,320}}</string>
                <key>sourceSize</key>
                <string>{480,400}</string>
            </dict>
            <key>fish_41_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,1602},{432,332}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{432,332}}</string>
                <key>sourceSize</key>
                <string>{480,400}</string>
            </dict>
            <key>fish_41_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1616},{432,342}}</string>
                <key>offset</key>
                <string>{-14,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{432,342}}</string>
                <key>sourceSize</key>
                <string>{480,400}</string>
            </dict>
            <key>fish_41_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,1542},{430,332}}</string>
                <key>offset</key>
                <string>{-16,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{430,332}}</string>
                <key>sourceSize</key>
                <string>{480,400}</string>
            </dict>
            <key>fish_41_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{3040,938},{428,326}}</string>
                <key>offset</key>
                <string>{-13,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,19},{428,326}}</string>
                <key>sourceSize</key>
                <string>{480,400}</string>
            </dict>
            <key>fish_41_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{3368,884},{422,328}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{422,328}}</string>
                <key>sourceSize</key>
                <string>{480,400}</string>
            </dict>
            <key>fish_42_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1100},{528,552}}</string>
                <key>offset</key>
                <string>{6,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,4},{528,552}}</string>
                <key>sourceSize</key>
                <string>{640,700}</string>
            </dict>
            <key>fish_42_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2796,446},{518,490}}</string>
                <key>offset</key>
                <string>{-4,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,187},{518,490}}</string>
                <key>sourceSize</key>
                <string>{640,700}</string>
            </dict>
            <key>fish_42_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2038,960},{494,526}}</string>
                <key>offset</key>
                <string>{5,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,166},{494,526}}</string>
                <key>sourceSize</key>
                <string>{640,700}</string>
            </dict>
            <key>fish_42_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2534,960},{514,504}}</string>
                <key>offset</key>
                <string>{3,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,174},{514,504}}</string>
                <key>sourceSize</key>
                <string>{640,700}</string>
            </dict>
            <key>fish_42_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,484},{546,474}}</string>
                <key>offset</key>
                <string>{-4,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,171},{546,474}}</string>
                <key>sourceSize</key>
                <string>{640,700}</string>
            </dict>
            <key>fish_42_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2778,2},{542,442}}</string>
                <key>offset</key>
                <string>{13,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,169},{542,442}}</string>
                <key>sourceSize</key>
                <string>{640,700}</string>
            </dict>
            <key>fish_42_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,1014},{586,484}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,117},{586,484}}</string>
                <key>sourceSize</key>
                <string>{640,700}</string>
            </dict>
            <key>fish_42_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{578,480}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,82},{578,480}}</string>
                <key>sourceSize</key>
                <string>{640,700}</string>
            </dict>
            <key>fish_42_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1100},{556,514}}</string>
                <key>offset</key>
                <string>{14,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,23},{556,514}}</string>
                <key>sourceSize</key>
                <string>{640,700}</string>
            </dict>
            <key>fish_42_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{548,534}}</string>
                <key>offset</key>
                <string>{15,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,6},{548,534}}</string>
                <key>sourceSize</key>
                <string>{640,700}</string>
            </dict>
            <key>fish_42_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{536,546}}</string>
                <key>offset</key>
                <string>{10,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{536,546}}</string>
                <key>sourceSize</key>
                <string>{640,700}</string>
            </dict>
            <key>fish_42_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{530,524}}</string>
                <key>offset</key>
                <string>{-7,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,22},{530,524}}</string>
                <key>sourceSize</key>
                <string>{640,700}</string>
            </dict>
            <key>fish_42_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2286,456},{502,508}}</string>
                <key>offset</key>
                <string>{16,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,8},{502,508}}</string>
                <key>sourceSize</key>
                <string>{640,700}</string>
            </dict>
            <key>fish_42_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2736,1476},{516,486}}</string>
                <key>offset</key>
                <string>{4,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,47},{516,486}}</string>
                <key>sourceSize</key>
                <string>{640,700}</string>
            </dict>
            <key>fish_42_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2188,1488},{546,454}}</string>
                <key>offset</key>
                <string>{6,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,76},{546,454}}</string>
                <key>sourceSize</key>
                <string>{640,700}</string>
            </dict>
            <key>fish_42_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2204,2},{572,452}}</string>
                <key>offset</key>
                <string>{5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,91},{572,452}}</string>
                <key>sourceSize</key>
                <string>{640,700}</string>
            </dict>
            <key>fish_42_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,550},{618,462}}</string>
                <key>offset</key>
                <string>{11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,107},{618,462}}</string>
                <key>sourceSize</key>
                <string>{640,700}</string>
            </dict>
            <key>fish_42_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,964},{576,460}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,136},{576,460}}</string>
                <key>sourceSize</key>
                <string>{640,700}</string>
            </dict>
            <key>fish_42_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,484},{578,478}}</string>
                <key>offset</key>
                <string>{-4,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,165},{578,478}}</string>
                <key>sourceSize</key>
                <string>{640,700}</string>
            </dict>
            <key>fish_42_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,2},{556,480}}</string>
                <key>offset</key>
                <string>{-7,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,188},{556,480}}</string>
                <key>sourceSize</key>
                <string>{640,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss.png</string>
            <key>size</key>
            <string>{4004,1964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0d9a0dd9888ada3ae70d7e1927805ea:1/1$</string>
            <key>textureFileName</key>
            <string>boss.png</string>
        </dict>
    </dict>
</plist>
