<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lhd_baoxianxiangsp-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,998},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,53}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
            <key>lhd_baoxianxiangsp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,53}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
            <key>lhd_di-xinxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,234},{188,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,36}}</string>
                <key>sourceSize</key>
                <string>{188,36}</string>
            </dict>
            <key>lhd_fanhui-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,860},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>lhd_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,782},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>lhd_guize-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,933},{41,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,49}}</string>
                <key>sourceSize</key>
                <string>{41,49}</string>
            </dict>
            <key>lhd_guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,933},{41,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,49}}</string>
                <key>sourceSize</key>
                <string>{41,49}</string>
            </dict>
            <key>lhd_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,272},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,145}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>lhd_heipaidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{842,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{842,335}}</string>
                <key>sourceSize</key>
                <string>{842,335}</string>
            </dict>
            <key>lhd_hongpaidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,234},{808,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{808,357}}</string>
                <key>sourceSize</key>
                <string>{808,357}</string>
            </dict>
            <key>lhd_huangguangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,412},{496,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,176}}</string>
                <key>sourceSize</key>
                <string>{496,176}</string>
            </dict>
            <key>lhd_huangguangquan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{994,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{994,154}}</string>
                <key>sourceSize</key>
                <string>{994,154}</string>
            </dict>
            <key>lhd_huwenlu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,419},{65,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,21}}</string>
                <key>sourceSize</key>
                <string>{65,21}</string>
            </dict>
            <key>lhd_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,550},{39,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,35}}</string>
                <key>sourceSize</key>
                <string>{39,35}</string>
            </dict>
            <key>lhd_jinbibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,419},{167,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,36}}</string>
                <key>sourceSize</key>
                <string>{167,36}</string>
            </dict>
            <key>lhd_kaijiangzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2005,896},{159,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,35}}</string>
                <key>sourceSize</key>
                <string>{159,35}</string>
            </dict>
            <key>lhd_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,2},{108,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,105}}</string>
                <key>sourceSize</key>
                <string>{108,105}</string>
            </dict>
            <key>lhd_lantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,998},{762,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{762,53}}</string>
                <key>sourceSize</key>
                <string>{762,53}</string>
            </dict>
            <key>lhd_lian.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,933},{78,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,38}}</string>
                <key>sourceSize</key>
                <string>{78,38}</string>
            </dict>
            <key>lhd_lianzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,231},{162,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,44}}</string>
                <key>sourceSize</key>
                <string>{162,44}</string>
            </dict>
            <key>lhd_longwenlu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,442},{65,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,20}}</string>
                <key>sourceSize</key>
                <string>{65,20}</string>
            </dict>
            <key>lhd_lunhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,419},{166,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,40}}</string>
                <key>sourceSize</key>
                <string>{166,40}</string>
            </dict>
            <key>lhd_lz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,234},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>lhd_lz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,1040},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>lhd_lz2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,933},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>lhd_lz2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,964},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>lhd_lz2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,933},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>lhd_lz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,1040},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>lhd_lz3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2035,139},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>lhd_lz3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2035,130},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>lhd_lz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,1040},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>lhd_lz4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2035,121},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>lhd_lz4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2035,112},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>lhd_lz5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2035,156},{7,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,6}}</string>
                <key>sourceSize</key>
                <string>{7,6}</string>
            </dict>
            <key>lhd_lz5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2035,148},{7,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,6}}</string>
                <key>sourceSize</key>
                <string>{7,6}</string>
            </dict>
            <key>lhd_lz6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,267},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>lhd_lz6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,251},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>lhd_lz7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,1037},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>lhd_lz7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1037},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>lhd_lzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,2},{220,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,227}}</string>
                <key>sourceSize</key>
                <string>{220,227}</string>
            </dict>
            <key>lhd_lzlong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,790},{255,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,234}}</string>
                <key>sourceSize</key>
                <string>{255,234}</string>
            </dict>
            <key>lhd_pailu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,272},{766,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{766,40}}</string>
                <key>sourceSize</key>
                <string>{766,40}</string>
            </dict>
            <key>lhd_qitawanjia-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,192},{78,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,93}}</string>
                <key>sourceSize</key>
                <string>{78,93}</string>
            </dict>
            <key>lhd_qitawanjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,112},{78,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,93}}</string>
                <key>sourceSize</key>
                <string>{78,93}</string>
            </dict>
            <key>lhd_qxsz-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,616},{85,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>lhd_qxsz.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,538},{85,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>lhd_qxxz-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,532},{85,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>lhd_qxxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,846},{85,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>lhd_setdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,790},{74,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,245}}</string>
                <key>sourceSize</key>
                <string>{74,245}</string>
            </dict>
            <key>lhd_shangzhuang-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,846},{85,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>lhd_shangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,846},{85,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>lhd_shangzhuangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{1062,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1062,230}}</string>
                <key>sourceSize</key>
                <string>{1062,230}</string>
            </dict>
            <key>lhd_sum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,283},{115,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,212}}</string>
                <key>sourceSize</key>
                <string>{115,212}</string>
            </dict>
            <key>lhd_userdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,590},{331,445}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,445}}</string>
                <key>sourceSize</key>
                <string>{331,445}</string>
            </dict>
            <key>lhd_userdi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,790},{261,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,81}}</string>
                <key>sourceSize</key>
                <string>{261,81}</string>
            </dict>
            <key>lhd_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,590},{431,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,198}}</string>
                <key>sourceSize</key>
                <string>{431,198}</string>
            </dict>
            <key>lhd_xialaanniu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,780},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>lhd_xialaanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,702},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>lhd_xialaanniuup-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,700},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>lhd_xialaanniuup.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,622},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>lhd_xiazhuang-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,846},{85,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>lhd_xiazhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,497},{85,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>lhd_xiazhuzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,495},{158,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,35}}</string>
                <key>sourceSize</key>
                <string>{158,35}</string>
            </dict>
            <key>lhd_xinxixianshidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,464},{115,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,45}}</string>
                <key>sourceSize</key>
                <string>{115,45}</string>
            </dict>
            <key>lhd_xutou.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,407},{173,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,86}}</string>
                <key>sourceSize</key>
                <string>{173,86}</string>
            </dict>
            <key>lhd_xutouan.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,319},{173,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,86}}</string>
                <key>sourceSize</key>
                <string>{173,86}</string>
            </dict>
            <key>lhd_xutouhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,231},{173,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,86}}</string>
                <key>sourceSize</key>
                <string>{173,86}</string>
            </dict>
            <key>lhd_xzjbdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,538},{301,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,37}}</string>
                <key>sourceSize</key>
                <string>{301,37}</string>
            </dict>
            <key>lhd_yinxiao-off-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,933},{41,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,49}}</string>
                <key>sourceSize</key>
                <string>{41,49}</string>
            </dict>
            <key>lhd_yinxiao-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,933},{41,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,49}}</string>
                <key>sourceSize</key>
                <string>{41,49}</string>
            </dict>
            <key>lhd_yinxiao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,446},{41,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,49}}</string>
                <key>sourceSize</key>
                <string>{41,49}</string>
            </dict>
            <key>lhd_yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,395},{41,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,49}}</string>
                <key>sourceSize</key>
                <string>{41,49}</string>
            </dict>
            <key>lhd_yinyue-off-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,497},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>lhd_yinyue-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2005,843},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>lhd_yinyue-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2005,790},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>lhd_yinyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,497},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>lhd_zhuanganniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,846},{128,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,38}}</string>
                <key>sourceSize</key>
                <string>{128,38}</string>
            </dict>
            <key>lhd_ziguangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{994,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{994,154}}</string>
                <key>sourceSize</key>
                <string>{994,154}</string>
            </dict>
            <key>lhd_ziguangquan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,234},{496,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,176}}</string>
                <key>sourceSize</key>
                <string>{496,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>longhudou.png</string>
            <key>size</key>
            <string>{2047,1057}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7978bb5bc70dba426e67a3032e3a94b$</string>
            <key>textureFileName</key>
            <string>longhudou.png</string>
        </dict>
    </dict>
</plist>
