<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lkpy_other_goldf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{33,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,50}}</string>
                <key>sourceSize</key>
                <string>{33,50}</string>
            </dict>
            <key>lkpy_other_goldf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>lkpy_other_goldf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>lkpy_other_goldf4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>lkpy_other_goldf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lkpy_other_gold.png</string>
            <key>size</key>
            <string>{225,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1406c8921ae765af1bd8e23d9b756206:1/1$</string>
            <key>textureFileName</key>
            <string>lkpy_other_gold.png</string>
        </dict>
    </dict>
</plist>
