<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz_bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,97},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>ddz_btn_1fen-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,359},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_btn_1fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,291},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_btn_2fen-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,280},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_btn_2fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,262},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_btn_3fen-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,262},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_btn_3fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,262},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_btn_buchu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,183},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_btn_buchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,194},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_btn_bujiabei-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,165},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_btn_bujiabei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,165},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_btn_bujiao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,97},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_btn_bujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,68},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_btn_chupai-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,165},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_btn_chupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,68},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_btn_chupaihui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,68},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_btn_guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,943},{80,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,79}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>ddz_btn_guizedianji.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,943},{80,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,79}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>ddz_btn_huanzhuo-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,926},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_btn_huanzhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,829},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_btn_jiabei-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,732},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_btn_jiabei.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,635},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_btn_kaishiyouxi-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,538},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_btn_kaishiyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,441},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_btn_quxiaotuoguan-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,344},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_btn_quxiaotuoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,247},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_btn_tishi-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,150},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_btn_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,926},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_btn_tuoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,943},{80,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,79}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>ddz_btn_tuoguandianji.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,943},{80,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,79}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>ddz_btn_xialaanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,943},{80,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,79}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>ddz_btn_xialaanniudianji.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,68},{80,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,79}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>ddz_btn_yaobuqi-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,829},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_btn_yaobuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,732},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_bujiao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,635},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_bujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,538},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_buqiang-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,441},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_buqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,344},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,97},{190,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,45}}</string>
                <key>sourceSize</key>
                <string>{190,45}</string>
            </dict>
            <key>ddz_di_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,50},{270,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,45}}</string>
                <key>sourceSize</key>
                <string>{270,45}</string>
            </dict>
            <key>ddz_ditubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,97},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>ddz_dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,68},{51,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,57}}</string>
                <key>sourceSize</key>
                <string>{51,57}</string>
            </dict>
            <key>ddz_fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2003,60},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>ddz_game_type1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,255},{80,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,42}}</string>
                <key>sourceSize</key>
                <string>{80,42}</string>
            </dict>
            <key>ddz_game_type10.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,201},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,56}</string>
            </dict>
            <key>ddz_game_type11.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,126},{152,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,55}}</string>
                <key>sourceSize</key>
                <string>{152,55}</string>
            </dict>
            <key>ddz_game_type12.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,144},{102,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,55}}</string>
                <key>sourceSize</key>
                <string>{102,55}</string>
            </dict>
            <key>ddz_game_type2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1821,50},{73,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,56}}</string>
                <key>sourceSize</key>
                <string>{73,56}</string>
            </dict>
            <key>ddz_game_type3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,208},{82,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,56}}</string>
                <key>sourceSize</key>
                <string>{82,56}</string>
            </dict>
            <key>ddz_game_type4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,197},{83,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,56}}</string>
                <key>sourceSize</key>
                <string>{83,56}</string>
            </dict>
            <key>ddz_game_type5.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,68},{152,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,56}}</string>
                <key>sourceSize</key>
                <string>{152,56}</string>
            </dict>
            <key>ddz_game_type6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,60},{105,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,56}}</string>
                <key>sourceSize</key>
                <string>{105,56}</string>
            </dict>
            <key>ddz_game_type7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,150},{151,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,56}}</string>
                <key>sourceSize</key>
                <string>{151,56}</string>
            </dict>
            <key>ddz_game_type8.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,259},{100,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,55}}</string>
                <key>sourceSize</key>
                <string>{100,55}</string>
            </dict>
            <key>ddz_game_type9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,2},{149,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,56}}</string>
                <key>sourceSize</key>
                <string>{149,56}</string>
            </dict>
            <key>ddz_gerentubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,97},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>ddz_jiaodizhu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,247},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_jiaodizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,150},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2003,105},{41,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,43}}</string>
                <key>sourceSize</key>
                <string>{41,43}</string>
            </dict>
            <key>ddz_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,943},{214,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,69}}</string>
                <key>sourceSize</key>
                <string>{214,69}</string>
            </dict>
            <key>ddz_meiyoupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,2},{345,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,46}}</string>
                <key>sourceSize</key>
                <string>{345,46}</string>
            </dict>
            <key>ddz_ming.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,68},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>ddz_naozhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,108},{86,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,87}}</string>
                <key>sourceSize</key>
                <string>{86,87}</string>
            </dict>
            <key>ddz_qiangdizhu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,846},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_qiangdizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{212,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,95}}</string>
                <key>sourceSize</key>
                <string>{212,95}</string>
            </dict>
            <key>ddz_score_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,118},{19,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>ddz_score_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,68},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>ddz_score_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,108},{18,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,35}}</string>
                <key>sourceSize</key>
                <string>{18,35}</string>
            </dict>
            <key>ddz_shanglan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,745},{238,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,99}}</string>
                <key>sourceSize</key>
                <string>{238,99}</string>
            </dict>
            <key>ddz_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,316},{45,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,56}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>ddz_toumingkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1545,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1545,64}}</string>
                <key>sourceSize</key>
                <string>{1545,64}</string>
            </dict>
            <key>ddz_tuoguanjiqiren.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,51}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>ddz_xiaopai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,299},{45,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,61}}</string>
                <key>sourceSize</key>
                <string>{45,61}</string>
            </dict>
            <key>ddz_xlbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{83,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,265}}</string>
                <key>sourceSize</key>
                <string>{83,265}</string>
            </dict>
            <key>ddz_xlbg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{83,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,326}}</string>
                <key>sourceSize</key>
                <string>{83,326}</string>
            </dict>
            <key>ddz_xltuichu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,97},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>ddz_xltuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,127},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>ddz_xlyinxiao-guan-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,181},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>ddz_xlyinxiao-guan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,262},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>ddz_xlyinxiao-kai-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,208},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>ddz_xlyinxiao-kai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,151},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>ddz_xlyinyue-guan-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,266},{47,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,52}}</string>
                <key>sourceSize</key>
                <string>{47,52}</string>
            </dict>
            <key>ddz_xlyinyue-guan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,259},{47,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,52}}</string>
                <key>sourceSize</key>
                <string>{47,52}</string>
            </dict>
            <key>ddz_xlyinyue-kai-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,205},{47,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,52}}</string>
                <key>sourceSize</key>
                <string>{47,52}</string>
            </dict>
            <key>ddz_xlyinyue-kai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,235},{47,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,52}}</string>
                <key>sourceSize</key>
                <string>{47,52}</string>
            </dict>
            <key>ddz_zhanji-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,97},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>ddz_zhanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,97},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>doudizhu.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3dd42e32b3f5922b8e3d7556a9111b1e$</string>
            <key>textureFileName</key>
            <string>doudizhu.png</string>
        </dict>
    </dict>
</plist>
