<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lkpy_wang1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,142}</string>
            </dict>
            <key>lkpy_wang1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,168}</string>
            </dict>
            <key>lkpy_wang1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,182}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>lkpy_wang1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{174,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,174}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>lkpy_wang1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{174,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{174,174}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>lkpy_wang1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{172,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{172,178}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>lkpy_wang1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{150,150}}</string>
                <key>sourceSize</key>
                <string>{152,154}</string>
            </dict>
            <key>lkpy_zd1_level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,186},{56,144}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{56,144}}</string>
                <key>sourceSize</key>
                <string>{60,150}</string>
            </dict>
            <key>lkpy_zd1_level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,886},{56,144}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{56,144}}</string>
                <key>sourceSize</key>
                <string>{60,150}</string>
            </dict>
            <key>lkpy_zd1_level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{56,144}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{56,144}}</string>
                <key>sourceSize</key>
                <string>{60,150}</string>
            </dict>
            <key>lkpy_zd1_level_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1748},{56,144}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{56,144}}</string>
                <key>sourceSize</key>
                <string>{60,150}</string>
            </dict>
            <key>lkpy_zd2_level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,478},{74,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{74,144}}</string>
                <key>sourceSize</key>
                <string>{80,150}</string>
            </dict>
            <key>lkpy_zd2_level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,332},{74,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{74,144}}</string>
                <key>sourceSize</key>
                <string>{80,150}</string>
            </dict>
            <key>lkpy_zd2_level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1488},{74,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{74,144}}</string>
                <key>sourceSize</key>
                <string>{80,150}</string>
            </dict>
            <key>lkpy_zd2_level_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1342},{74,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{74,144}}</string>
                <key>sourceSize</key>
                <string>{80,150}</string>
            </dict>
            <key>lkpy_zd3_level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1232},{20,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,86}}</string>
                <key>sourceSize</key>
                <string>{20,86}</string>
            </dict>
            <key>lkpy_zd3_level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1784},{20,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,86}}</string>
                <key>sourceSize</key>
                <string>{20,86}</string>
            </dict>
            <key>lkpy_zd3_level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,236},{20,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,86}}</string>
                <key>sourceSize</key>
                <string>{20,86}</string>
            </dict>
            <key>lkpy_zd3_level_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,148},{20,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,86}}</string>
                <key>sourceSize</key>
                <string>{20,86}</string>
            </dict>
            <key>lkpy_zd4_level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,810},{32,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,88}}</string>
                <key>sourceSize</key>
                <string>{32,88}</string>
            </dict>
            <key>lkpy_zd4_level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,624},{32,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,90}}</string>
                <key>sourceSize</key>
                <string>{32,90}</string>
            </dict>
            <key>lkpy_zd4_level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1436},{34,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,88}}</string>
                <key>sourceSize</key>
                <string>{34,88}</string>
            </dict>
            <key>lkpy_zd4_level_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1342},{34,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,92}}</string>
                <key>sourceSize</key>
                <string>{34,92}</string>
            </dict>
            <key>lkpy_zd5_level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1038},{156,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,140}}</string>
                <key>sourceSize</key>
                <string>{156,140}</string>
            </dict>
            <key>lkpy_zd5_level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1196},{152,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,138}}</string>
                <key>sourceSize</key>
                <string>{152,138}</string>
            </dict>
            <key>lkpy_zd5_level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1626},{140,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,120}}</string>
                <key>sourceSize</key>
                <string>{140,120}</string>
            </dict>
            <key>lkpy_zd5_level_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1492},{140,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,132}}</string>
                <key>sourceSize</key>
                <string>{140,132}</string>
            </dict>
            <key>lkpy_zd6_level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,812},{48,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,56}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>lkpy_zd6_level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,900},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>lkpy_zd6_level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,148},{28,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>lkpy_zd6_level_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1526},{34,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,44}}</string>
                <key>sourceSize</key>
                <string>{34,44}</string>
            </dict>
            <key>lkpy_zd7_level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1038},{98,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,110}}</string>
                <key>sourceSize</key>
                <string>{98,110}</string>
            </dict>
            <key>lkpy_zd7_level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1138},{92,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,110}}</string>
                <key>sourceSize</key>
                <string>{92,110}</string>
            </dict>
            <key>lkpy_zd7_level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1232},{88,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,108}}</string>
                <key>sourceSize</key>
                <string>{88,108}</string>
            </dict>
            <key>lkpy_zd7_level_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1634},{82,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,106}}</string>
                <key>sourceSize</key>
                <string>{82,106}</string>
            </dict>
            <key>lkpy_zd8_level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1742},{40,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,88}}</string>
                <key>sourceSize</key>
                <string>{40,88}</string>
            </dict>
            <key>lkpy_zd8_level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,718},{40,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,92}}</string>
                <key>sourceSize</key>
                <string>{40,92}</string>
            </dict>
            <key>lkpy_zd8_level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,718},{40,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,90}}</string>
                <key>sourceSize</key>
                <string>{40,90}</string>
            </dict>
            <key>lkpy_zd8_level_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,624},{40,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,92}}</string>
                <key>sourceSize</key>
                <string>{40,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lkpy_fort.png</string>
            <key>size</key>
            <string>{256,1806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47d18bd1e5c4536f94281b0a4f1286b5:1/1$</string>
            <key>textureFileName</key>
            <string>lkpy_fort.png</string>
        </dict>
    </dict>
</plist>
