<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoxiang1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,400},{130,98}}</string>
                <key>offset</key>
                <string>{-15,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,61},{130,98}}</string>
                <key>sourceSize</key>
                <string>{188,162}</string>
            </dict>
            <key>baoxiang1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,282},{150,130}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,29},{150,130}}</string>
                <key>sourceSize</key>
                <string>{188,162}</string>
            </dict>
            <key>baoxiang2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,284},{138,114}}</string>
                <key>offset</key>
                <string>{-13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,45},{138,114}}</string>
                <key>sourceSize</key>
                <string>{188,162}</string>
            </dict>
            <key>baoxiang2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{156,136}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{156,136}}</string>
                <key>sourceSize</key>
                <string>{188,162}</string>
            </dict>
            <key>baoxiang3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{138,120}}</string>
                <key>offset</key>
                <string>{-19,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,39},{138,120}}</string>
                <key>sourceSize</key>
                <string>{188,162}</string>
            </dict>
            <key>baoxiang3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,150},{162,130}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,29},{162,130}}</string>
                <key>sourceSize</key>
                <string>{188,162}</string>
            </dict>
            <key>baoxiang4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{144,120}}</string>
                <key>offset</key>
                <string>{-16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,39},{144,120}}</string>
                <key>sourceSize</key>
                <string>{188,162}</string>
            </dict>
            <key>baoxiang4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{170,146}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{170,146}}</string>
                <key>sourceSize</key>
                <string>{188,162}</string>
            </dict>
            <key>baoxiang5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,124},{158,138}}</string>
                <key>offset</key>
                <string>{-15,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{158,138}}</string>
                <key>sourceSize</key>
                <string>{188,162}</string>
            </dict>
            <key>baoxiang5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,162}}</string>
                <key>sourceSize</key>
                <string>{188,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baoxiang.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a752a5c0f7454c14bc93dbc18465d98:1/1$</string>
            <key>textureFileName</key>
            <string>baoxiang.png</string>
        </dict>
    </dict>
</plist>
