<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qznn_0x00.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,821},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x01.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,821},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x02.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,821},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x03.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,821},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{115,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,157}}</string>
                <key>sourceSize</key>
                <string>{115,157}</string>
            </dict>
            <key>qznn_0x05.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,821},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x06.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,821},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,819},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x08.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,704},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x09.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,704},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x0A.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,704},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x0B.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,704},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x0C.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,704},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x0D.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,704},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x12.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,587},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x13.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,587},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x14.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,587},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x15.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,587},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,587},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x17.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,587},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,585},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x19.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,470},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x1A.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,470},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x1B.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,470},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x1C.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,470},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x1D.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,470},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x21.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,470},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x23.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,353},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,353},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x25.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,353},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x26.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,353},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x27.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,353},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x28.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,353},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x2A.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,236},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x2B.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,236},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x2C.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,236},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x2D.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,236},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x31.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,236},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,236},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,119},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x35.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,119},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,119},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x37.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,119},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,119},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x39.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,117},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x3A.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x3B.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x3C.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x3D.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x4E.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{113,156}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{113,156}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_0x4F.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{113,156}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{113,156}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>qznn_card_seleced.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,150}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{107,150}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1122,938}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c393b0e59cb529a743b94861b694b3f9:1/1$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
