<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>danpao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,113},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>danpao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,113},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>fast-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,113},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>fast.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,2},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jianpao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jianpao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,2},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jiapao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,113},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jiapao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,113},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jiesuo-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,2},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jiesuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,113},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>paotai-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>paotai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,2},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>shoudong-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,113},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>shoudong.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>show-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,113},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>show.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>shuoming-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,113},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>shuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,113},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>suoding-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>suoding.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,113},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>task-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>task.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>tuichu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,113},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>tuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>yincang-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,113},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>yincang.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>zidong-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>zidong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamefish.png</string>
            <key>size</key>
            <string>{1524,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1dc0c6677a5a4a2eb333ab62d7b8253:1/1$</string>
            <key>textureFileName</key>
            <string>gamefish.png</string>
        </dict>
    </dict>
</plist>
