<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0x00.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,938},{113,158}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x01.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,938},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x02.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,938},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x03.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,938},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x05.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,821},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x06.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,821},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x07.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,821},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x08.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,821},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x09.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,821},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x0A.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,821},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x0B.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,704},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x0C.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,704},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x0D.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,704},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x11.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,704},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x12.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,704},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x14.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,587},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x15.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,587},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,587},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x17.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,587},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x18.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,587},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x1A.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,470},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x1B.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,470},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x1C.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,470},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x1D.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,470},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x21.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,470},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x23.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,353},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,353},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x25.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,353},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x26.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,353},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x27.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,353},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x29.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,236},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x2A.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,236},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x2B.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,236},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x2C.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,236},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x2D.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,236},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,119},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x33.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,938},{115,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,157}}</string>
                <key>sourceSize</key>
                <string>{115,157}</string>
            </dict>
            <key>0x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,119},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x35.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,119},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,119},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x37.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,119},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x39.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x3A.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x3B.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x3C.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x3D.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x51.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,704},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x52.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,704},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,587},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x55.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,587},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,587},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x57.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,587},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,587},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x5A.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,470},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x5B.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,470},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x5C.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x5D.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,470},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x61.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,470},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x63.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,353},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,353},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x65.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,353},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x66.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,353},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x67.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,353},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x68.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x69.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,236},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x6A.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,236},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x6B.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,236},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x6C.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,236},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x6D.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,236},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x71.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x72.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,119},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x73.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,938},{115,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,157}}</string>
                <key>sourceSize</key>
                <string>{115,157}</string>
            </dict>
            <key>0x74.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,119},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x75.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,119},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,119},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x77.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,119},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x78.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x79.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x7A.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x7B.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x7C.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x7D.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x81.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,938},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x82.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,938},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x83.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,938},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x84.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x85.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,821},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,821},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x87.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,821},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x88.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,821},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x89.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,821},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x8A.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,821},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x8B.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,704},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x8C.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,704},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
            <key>0x8D.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,704},{115,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,158}}</string>
                <key>sourceSize</key>
                <string>{115,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28700a12762bb202f7b0bfcccc947167$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
