<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sweetparty_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2016,1425},{84,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,21}}</string>
                <key>sourceSize</key>
                <string>{84,21}</string>
            </dict>
            <key>sweetparty_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2016,1511},{80,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,24}}</string>
                <key>sourceSize</key>
                <string>{80,24}</string>
            </dict>
            <key>sweetparty_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2016,1593},{76,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,21}}</string>
                <key>sourceSize</key>
                <string>{76,21}</string>
            </dict>
            <key>sweetparty_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,1156},{57,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,21}}</string>
                <key>sourceSize</key>
                <string>{57,21}</string>
            </dict>
            <key>sweetparty_4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1732},{72,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,37}}</string>
                <key>sourceSize</key>
                <string>{72,37}</string>
            </dict>
            <key>sweetparty_4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1995},{72,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,37}}</string>
                <key>sourceSize</key>
                <string>{72,37}</string>
            </dict>
            <key>sweetparty_4-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,1869},{72,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,37}}</string>
                <key>sourceSize</key>
                <string>{72,37}</string>
            </dict>
            <key>sweetparty_4-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,1795},{72,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,37}}</string>
                <key>sourceSize</key>
                <string>{72,37}</string>
            </dict>
            <key>sweetparty_4x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1156},{329,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,498}}</string>
                <key>sourceSize</key>
                <string>{329,498}</string>
            </dict>
            <key>sweetparty_5x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,1298},{351,495}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,495}}</string>
                <key>sourceSize</key>
                <string>{351,495}</string>
            </dict>
            <key>sweetparty_6x6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,1559},{356,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,477}}</string>
                <key>sourceSize</key>
                <string>{356,477}</string>
            </dict>
            <key>sweetparty_bangzhu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,797},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>sweetparty_bangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,724},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>sweetparty_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1559,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1559,720}}</string>
                <key>sourceSize</key>
                <string>{1559,720}</string>
            </dict>
            <key>sweetparty_danxiandianshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,1487},{147,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,40}}</string>
                <key>sourceSize</key>
                <string>{147,40}</string>
            </dict>
            <key>sweetparty_dianshushuoming-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1845},{141,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,55}}</string>
                <key>sourceSize</key>
                <string>{141,55}</string>
            </dict>
            <key>sweetparty_dianshushuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1732},{141,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,55}}</string>
                <key>sourceSize</key>
                <string>{141,55}</string>
            </dict>
            <key>sweetparty_dianshushuoming2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,1795},{141,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,55}}</string>
                <key>sourceSize</key>
                <string>{141,55}</string>
            </dict>
            <key>sweetparty_dijiceng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2005,1671},{130,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,39}}</string>
                <key>sourceSize</key>
                <string>{130,39}</string>
            </dict>
            <key>sweetparty_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{2016,1286},{137,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,30}}</string>
                <key>sourceSize</key>
                <string>{137,30}</string>
            </dict>
            <key>sweetparty_gengduo-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,1077},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>sweetparty_gengduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,1008},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>sweetparty_gengduo1-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,939},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>sweetparty_gengduo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,870},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>sweetparty_gengduoxiala.png</key>
            <dict>
                <key>frame</key>
                <string>{{1944,1286},{70,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,376}}</string>
                <key>sourceSize</key>
                <string>{70,376}</string>
            </dict>
            <key>sweetparty_guanbi-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,1917},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>sweetparty_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,1943},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>sweetparty_gungunji.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1656},{302,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,330}}</string>
                <key>sourceSize</key>
                <string>{302,330}</string>
            </dict>
            <key>sweetparty_jia-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,1985},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{46,47}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>sweetparty_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,1966},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{46,47}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>sweetparty_jia2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,1917},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{46,47}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>sweetparty_jian-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,1992},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{46,47}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>sweetparty_jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,1943},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{46,47}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>sweetparty_jian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1995},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{46,47}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>sweetparty_queding-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1875},{125,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,134}}</string>
                <key>sourceSize</key>
                <string>{125,134}</string>
            </dict>
            <key>sweetparty_queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1859},{125,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,134}}</string>
                <key>sourceSize</key>
                <string>{125,134}</string>
            </dict>
            <key>sweetparty_queding2.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1732},{125,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,134}}</string>
                <key>sourceSize</key>
                <string>{125,134}</string>
            </dict>
            <key>sweetparty_quxiaotuoguan-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1852},{125,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,134}}</string>
                <key>sourceSize</key>
                <string>{125,134}</string>
            </dict>
            <key>sweetparty_quxiaotuoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,1795},{125,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,134}}</string>
                <key>sourceSize</key>
                <string>{125,134}</string>
            </dict>
            <key>sweetparty_taizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,2},{1555,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1555,379}}</string>
                <key>sourceSize</key>
                <string>{1555,379}</string>
            </dict>
            <key>sweetparty_tangguoqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2005,1880},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>sweetparty_teshujianglishuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{1021,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1021,430}}</string>
                <key>sourceSize</key>
                <string>{1021,430}</string>
            </dict>
            <key>sweetparty_tuichu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,1230},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>sweetparty_tuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,1162},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>sweetparty_tuoguan-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,1664},{125,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,134}}</string>
                <key>sourceSize</key>
                <string>{125,134}</string>
            </dict>
            <key>sweetparty_tuoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1821,1814},{125,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,134}}</string>
                <key>sourceSize</key>
                <string>{125,134}</string>
            </dict>
            <key>sweetparty_tuoguan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,1298},{125,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,134}}</string>
                <key>sourceSize</key>
                <string>{125,134}</string>
            </dict>
            <key>sweetparty_xiadi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1944,2},{1282,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1282,82}}</string>
                <key>sourceSize</key>
                <string>{1282,82}</string>
            </dict>
            <key>sweetparty_xianshikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,1434},{143,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,51}}</string>
                <key>sourceSize</key>
                <string>{143,51}</string>
            </dict>
            <key>sweetparty_yinxiao1-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,1089},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>sweetparty_yinxiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,1016},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>sweetparty_yinxiao2-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,943},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>sweetparty_yinxiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,870},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>sweetparty_yinyue1-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,797},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>sweetparty_yinyue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,724},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>sweetparty_yinyue2-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,1950},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>sweetparty_yinyue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,1950},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>sweetparty_youanniu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,1917},{111,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,90}}</string>
                <key>sourceSize</key>
                <string>{111,90}</string>
            </dict>
            <key>sweetparty_youanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1732},{111,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,90}}</string>
                <key>sourceSize</key>
                <string>{111,90}</string>
            </dict>
            <key>sweetparty_youkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1732},{321,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,294}}</string>
                <key>sourceSize</key>
                <string>{321,294}</string>
            </dict>
            <key>sweetparty_youxijiesao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1795},{141,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,55}}</string>
                <key>sourceSize</key>
                <string>{141,55}</string>
            </dict>
            <key>sweetparty_youxijiesao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,1800},{141,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,55}}</string>
                <key>sourceSize</key>
                <string>{141,55}</string>
            </dict>
            <key>sweetparty_youxijiesao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1821,1671},{141,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,55}}</string>
                <key>sourceSize</key>
                <string>{141,55}</string>
            </dict>
            <key>sweetparty_yuebao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,1917},{72,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{72,71}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>sweetparty_yuebao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1938},{72,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{72,71}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>sweetparty_zhanjii-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,1917},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>sweetparty_zhanjii.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,1917},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>sweetparty_zhongjiankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1156},{574,654}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,654}}</string>
                <key>sourceSize</key>
                <string>{574,654}</string>
            </dict>
            <key>sweetparty_zhushui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2005,1803},{75,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,40}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>sweetparty_zuoanniu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,1931},{111,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,90}}</string>
                <key>sourceSize</key>
                <string>{111,90}</string>
            </dict>
            <key>sweetparty_zuoanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1821,1559},{111,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,90}}</string>
                <key>sourceSize</key>
                <string>{111,90}</string>
            </dict>
            <key>sweetparty_zuokuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,724},{364,572}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,572}}</string>
                <key>sourceSize</key>
                <string>{364,572}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameScene.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:447e551883749ee6185d1eb1ccec9da1:1/1$</string>
            <key>textureFileName</key>
            <string>GameScene.png</string>
        </dict>
    </dict>
</plist>
