<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SweetSprite_freesweet.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,342},{62,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{62,64}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>SweetSprite_green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,314},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{66,66}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>SweetSprite_green_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,392},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{66,66}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>SweetSprite_green_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,274},{66,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{66,54}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>SweetSprite_orange_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{66,66}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>SweetSprite_orange_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,246},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{66,66}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>SweetSprite_orange_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,206},{66,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{66,54}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>SweetSprite_passsweet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{50,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{50,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>SweetSprite_passsweet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{68,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{68,70}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>SweetSprite_passsweet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{66,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{66,64}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>SweetSprite_passsweet_Show_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,123}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,19},{83,123}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>SweetSprite_passsweet_Show_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{117,71}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,37},{117,71}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>SweetSprite_passsweet_Show_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{117,113}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,17},{117,113}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>SweetSprite_purple_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,382},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{66,62}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>SweetSprite_purple_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,138},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{66,62}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>SweetSprite_purple_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,450},{66,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{66,54}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>SweetSprite_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{64,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{64,66}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>SweetSprite_red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,245},{64,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{64,66}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>SweetSprite_red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,313},{66,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{66,54}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>SweetSprite_winningssweet.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,206},{64,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{64,64}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>SweetSprite_yellow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,70},{66,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{66,64}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>SweetSprite_yellow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,121},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{64,66}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>SweetSprite_yellow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,189},{66,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{66,54}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SweetSprite.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:687fb04d51f52f9dc8f287df1e901a76:1/1$</string>
            <key>textureFileName</key>
            <string>SweetSprite.png</string>
        </dict>
    </dict>
</plist>
