<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bcbm_baoxianxiang-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,1950},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>bcbm_baoxianxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1956},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>bcbm_beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>bcbm_chebiaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,1888},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>bcbm_chebiaodi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1888},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>bcbm_chouma_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,1835},{107,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,112}}</string>
                <key>sourceSize</key>
                <string>{107,112}</string>
            </dict>
            <key>bcbm_chouma_1an.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,1832},{107,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,112}}</string>
                <key>sourceSize</key>
                <string>{107,112}</string>
            </dict>
            <key>bcbm_chouma_1hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,1563},{107,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,112}}</string>
                <key>sourceSize</key>
                <string>{107,112}</string>
            </dict>
            <key>bcbm_chouma_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,1832},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>bcbm_chouma_2an.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,1832},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>bcbm_chouma_2hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,1718},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>bcbm_chouma_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,1718},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>bcbm_chouma_3an.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,1718},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>bcbm_chouma_3hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,1766},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>bcbm_chouma_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,1787},{109,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,112}}</string>
                <key>sourceSize</key>
                <string>{109,112}</string>
            </dict>
            <key>bcbm_chouma_4an.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,1601},{109,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,112}}</string>
                <key>sourceSize</key>
                <string>{109,112}</string>
            </dict>
            <key>bcbm_chouma_4hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,1542},{109,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,112}}</string>
                <key>sourceSize</key>
                <string>{109,112}</string>
            </dict>
            <key>bcbm_chouma_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,1725},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>bcbm_chouma_5an.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,1677},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>bcbm_chouma_5hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,1608},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>bcbm_chouma_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,1608},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>bcbm_chouma_6an.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,1608},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>bcbm_chouma_6hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,1770},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>bcbm_choumatiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1494},{829,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{829,61}}</string>
                <key>sourceSize</key>
                <string>{829,61}</string>
            </dict>
            <key>bcbm_cm_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,1903},{49,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,63}}</string>
                <key>sourceSize</key>
                <string>{49,63}</string>
            </dict>
            <key>bcbm_cm_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,1903},{49,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,63}}</string>
                <key>sourceSize</key>
                <string>{49,63}</string>
            </dict>
            <key>bcbm_cm_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,1966},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bcbm_cm_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,1966},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bcbm_cm_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1585,1743},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>bcbm_cm_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,1965},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>bcbm_cm_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,1966},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bcbm_cm_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,1966},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bcbm_dizhuozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{1151,616}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1151,616}}</string>
                <key>sourceSize</key>
                <string>{1151,616}</string>
            </dict>
            <key>bcbm_faguangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,1470},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>bcbm_faguangquan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1709},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>bcbm_fanhuianniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,1942},{65,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,69}}</string>
                <key>sourceSize</key>
                <string>{65,69}</string>
            </dict>
            <key>bcbm_gengduo-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,1946},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>bcbm_gengduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1942},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>bcbm_gerenxinximianban.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1873},{186,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,104}}</string>
                <key>sourceSize</key>
                <string>{186,104}</string>
            </dict>
            <key>bcbm_guize-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,1880},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>bcbm_guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1971},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>bcbm_guizebiaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,1715},{79,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{79,49}</string>
            </dict>
            <key>bcbm_gundongtiao-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,1600},{379,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,6}}</string>
                <key>sourceSize</key>
                <string>{379,6}</string>
            </dict>
            <key>bcbm_gundongtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,1155},{379,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,6}}</string>
                <key>sourceSize</key>
                <string>{379,6}</string>
            </dict>
            <key>bcbm_jilu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,1600},{52,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,29}}</string>
                <key>sourceSize</key>
                <string>{52,29}</string>
            </dict>
            <key>bcbm_jilutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1709},{92,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,520}}</string>
                <key>sourceSize</key>
                <string>{92,520}</string>
            </dict>
            <key>bcbm_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,1966},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{33,35}</string>
            </dict>
            <key>bcbm_jindutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1473},{955,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{955,19}}</string>
                <key>sourceSize</key>
                <string>{955,19}</string>
            </dict>
            <key>bcbm_jindutiaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1446},{957,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{957,25}}</string>
                <key>sourceSize</key>
                <string>{957,25}</string>
            </dict>
            <key>bcbm_kaijiangfaguangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1803},{223,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,156}}</string>
                <key>sourceSize</key>
                <string>{223,156}</string>
            </dict>
            <key>bcbm_kaijiangfaguangquan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1803},{222,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,156}}</string>
                <key>sourceSize</key>
                <string>{222,156}</string>
            </dict>
            <key>bcbm_kaijiangfaguangquan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1715},{218,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,156}}</string>
                <key>sourceSize</key>
                <string>{218,156}</string>
            </dict>
            <key>bcbm_kaijiangzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,1544},{50,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,16}}</string>
                <key>sourceSize</key>
                <string>{50,16}</string>
            </dict>
            <key>bcbm_kaishixiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,1490},{394,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,108}}</string>
                <key>sourceSize</key>
                <string>{394,108}</string>
            </dict>
            <key>bcbm_kaishixiazhutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1557},{666,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,150}}</string>
                <key>sourceSize</key>
                <string>{666,150}</string>
            </dict>
            <key>bcbm_lianzhuangju.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1715},{162,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,44}}</string>
                <key>sourceSize</key>
                <string>{162,44}</string>
            </dict>
            <key>bcbm_loadingdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>bcbm_otherjinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1979},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>bcbm_othermsgbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1155},{333,397}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,397}}</string>
                <key>sourceSize</key>
                <string>{333,397}</string>
            </dict>
            <key>bcbm_qingdengdaixiajukaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1446},{320,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,44}}</string>
                <key>sourceSize</key>
                <string>{320,44}</string>
            </dict>
            <key>bcbm_qitawanjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,1884},{76,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,64}}</string>
                <key>sourceSize</key>
                <string>{76,64}</string>
            </dict>
            <key>bcbm_quxiaoshangzhuang-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,1663},{133,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,60}}</string>
                <key>sourceSize</key>
                <string>{133,60}</string>
            </dict>
            <key>bcbm_quxiaoshangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,1608},{133,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,60}}</string>
                <key>sourceSize</key>
                <string>{133,60}</string>
            </dict>
            <key>bcbm_quxiaoxiazhuang-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1826},{133,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,60}}</string>
                <key>sourceSize</key>
                <string>{133,60}</string>
            </dict>
            <key>bcbm_quxiaoxiazhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1691},{133,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,60}}</string>
                <key>sourceSize</key>
                <string>{133,60}</string>
            </dict>
            <key>bcbm_shangzhuang-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1556},{133,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,60}}</string>
                <key>sourceSize</key>
                <string>{133,60}</string>
            </dict>
            <key>bcbm_shangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1691},{133,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,60}}</string>
                <key>sourceSize</key>
                <string>{133,60}</string>
            </dict>
            <key>bcbm_tingzhixiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,1155},{397,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,109}}</string>
                <key>sourceSize</key>
                <string>{397,109}</string>
            </dict>
            <key>bcbm_touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1879},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>bcbm_xialaanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,1898},{65,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,69}}</string>
                <key>sourceSize</key>
                <string>{65,69}</string>
            </dict>
            <key>bcbm_xialadiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,1155},{96,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,313}}</string>
                <key>sourceSize</key>
                <string>{96,313}</string>
            </dict>
            <key>bcbm_xiazhuang-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1556},{133,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,60}}</string>
                <key>sourceSize</key>
                <string>{133,60}</string>
            </dict>
            <key>bcbm_xiazhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,1494},{133,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,60}}</string>
                <key>sourceSize</key>
                <string>{133,60}</string>
            </dict>
            <key>bcbm_xiazhuquyufaguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1803},{223,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,156}}</string>
                <key>sourceSize</key>
                <string>{223,156}</string>
            </dict>
            <key>bcbm_xiazhuquyufaguang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1803},{222,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,156}}</string>
                <key>sourceSize</key>
                <string>{222,156}</string>
            </dict>
            <key>bcbm_xiazhuquyufaguang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1557},{218,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,156}}</string>
                <key>sourceSize</key>
                <string>{218,156}</string>
            </dict>
            <key>bcbm_xiazhushijiandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,1950},{76,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,49}}</string>
                <key>sourceSize</key>
                <string>{76,49}</string>
            </dict>
            <key>bcbm_xiazhuzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,1492},{50,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,16}}</string>
                <key>sourceSize</key>
                <string>{50,16}</string>
            </dict>
            <key>bcbm_xin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,1715},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>bcbm_xutou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,1554},{107,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,112}}</string>
                <key>sourceSize</key>
                <string>{107,112}</string>
            </dict>
            <key>bcbm_xutouan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1656},{107,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,112}}</string>
                <key>sourceSize</key>
                <string>{107,112}</string>
            </dict>
            <key>bcbm_xutouhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,1492},{107,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,112}}</string>
                <key>sourceSize</key>
                <string>{107,112}</string>
            </dict>
            <key>bcbm_yinxiao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,1954},{50,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{50,64}</string>
            </dict>
            <key>bcbm_yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1884},{50,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{50,64}</string>
            </dict>
            <key>bcbm_yinxiaox-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,1944},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{52,64}</string>
            </dict>
            <key>bcbm_yinxiaox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,1944},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{52,64}</string>
            </dict>
            <key>bcbm_yinyue-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,1946},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>bcbm_yinyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,1898},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>bcbm_yinyuex-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1971},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>bcbm_yinyuex.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,1835},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>bcbm_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1971},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>bcbm_zhuangjialunhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1979},{162,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,44}}</string>
                <key>sourceSize</key>
                <string>{162,44}</string>
            </dict>
            <key>bcbm_zhuangjiamingzikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1492},{181,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,48}}</string>
                <key>sourceSize</key>
                <string>{181,48}</string>
            </dict>
            <key>bcbm_zongxiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,1942},{77,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,29}}</string>
                <key>sourceSize</key>
                <string>{77,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>benchibaoma.png</string>
            <key>size</key>
            <string>{1902,2028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93b4379b0599c7ddf1d1f847e246871c$</string>
            <key>textureFileName</key>
            <string>benchibaoma.png</string>
        </dict>
    </dict>
</plist>
