<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz_0x00.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1522},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x01.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1332},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x02.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1332},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x03.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1332},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x04.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1712},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x05.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1522},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x06.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1332},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x07.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1142},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x08.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1142},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x09.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1142},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x0A.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1142},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x0B.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1712},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x0C.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1522},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x0D.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1332},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x11.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1142},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x12.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,952},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x13.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,952},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x14.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,952},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x15.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,952},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,952},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1712},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1332},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x1A.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x1B.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x1C.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,762},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x1D.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,762},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x21.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,762},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x22.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,762},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x23.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,762},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x25.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,572},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x26.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,572},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x27.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,572},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x28.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,572},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x29.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,572},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x2A.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x2B.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,382},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x2C.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,382},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x2D.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,382},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x31.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,382},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,382},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,192},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x35.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,192},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,192},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x37.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,192},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,192},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x3A.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,2},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x3B.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x3C.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x3D.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x4E.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>ddz_0x4F.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_card.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:999a3b3e8c40ea6ca26d623f99056aec$</string>
            <key>textureFileName</key>
            <string>ddz_card.png</string>
        </dict>
    </dict>
</plist>
