<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dianjiqiandao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,463},{270,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,96}}</string>
                <key>sourceSize</key>
                <string>{270,96}</string>
            </dict>
            <key>dianjiqiandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,330},{270,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,96}}</string>
                <key>sourceSize</key>
                <string>{270,96}</string>
            </dict>
            <key>dianjiqiandaojinyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,191},{270,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,96}}</string>
                <key>sourceSize</key>
                <string>{270,96}</string>
            </dict>
            <key>img_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{326,516}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,516}}</string>
                <key>sourceSize</key>
                <string>{326,516}</string>
            </dict>
            <key>qiandao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1014,722}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1014,722}}</string>
                <key>sourceSize</key>
                <string>{1014,722}</string>
            </dict>
            <key>qiandao_daiqiandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,602},{75,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,85}}</string>
                <key>sourceSize</key>
                <string>{75,85}</string>
            </dict>
            <key>qiandao_guanbi-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,679},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>qiandao_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,844},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>qiandao_tubiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,918},{79,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,67}}</string>
                <key>sourceSize</key>
                <string>{79,67}</string>
            </dict>
            <key>qiandao_tubiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{176,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,195}}</string>
                <key>sourceSize</key>
                <string>{176,195}</string>
            </dict>
            <key>qiandao_weiqiandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,114},{75,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,85}}</string>
                <key>sourceSize</key>
                <string>{75,85}</string>
            </dict>
            <key>qiandao_yiqiandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,2},{110,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,92}}</string>
                <key>sourceSize</key>
                <string>{110,92}</string>
            </dict>
            <key>qiandaodi1-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,844},{164,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,181}}</string>
                <key>sourceSize</key>
                <string>{164,181}</string>
            </dict>
            <key>qiandaodi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,828},{164,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,181}}</string>
                <key>sourceSize</key>
                <string>{164,181}</string>
            </dict>
            <key>qiandaodi2-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,828},{164,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,181}}</string>
                <key>sourceSize</key>
                <string>{164,181}</string>
            </dict>
            <key>qiandaodi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,662},{164,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,181}}</string>
                <key>sourceSize</key>
                <string>{164,181}</string>
            </dict>
            <key>qiandaodi3-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,662},{164,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,181}}</string>
                <key>sourceSize</key>
                <string>{164,181}</string>
            </dict>
            <key>qiandaodi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,735},{164,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,181}}</string>
                <key>sourceSize</key>
                <string>{164,181}</string>
            </dict>
            <key>qiandaodi4-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,678},{164,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,181}}</string>
                <key>sourceSize</key>
                <string>{164,181}</string>
            </dict>
            <key>qiandaodi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,496},{164,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,181}}</string>
                <key>sourceSize</key>
                <string>{164,181}</string>
            </dict>
            <key>qiandaodi5-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,496},{164,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,181}}</string>
                <key>sourceSize</key>
                <string>{164,181}</string>
            </dict>
            <key>qiandaodi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,512},{164,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,181}}</string>
                <key>sourceSize</key>
                <string>{164,181}</string>
            </dict>
            <key>qiandaodi6-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,346},{164,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,181}}</string>
                <key>sourceSize</key>
                <string>{164,181}</string>
            </dict>
            <key>qiandaodi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,330},{164,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,181}}</string>
                <key>sourceSize</key>
                <string>{164,181}</string>
            </dict>
            <key>qiandaodi7-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,330},{164,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,181}}</string>
                <key>sourceSize</key>
                <string>{164,181}</string>
            </dict>
            <key>qiandaodi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,180},{164,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,181}}</string>
                <key>sourceSize</key>
                <string>{164,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qiandao.png</string>
            <key>size</key>
            <string>{1535,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea2e158405d38f14f143efda54b2bdac:1/1$</string>
            <key>textureFileName</key>
            <string>qiandao.png</string>
        </dict>
    </dict>
</plist>
