<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sdb_buqiang-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1080},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>sdb_buqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>sdb_buqiang_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,551},{93,53}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{93,53}}</string>
                <key>sourceSize</key>
                <string>{113,73}</string>
            </dict>
            <key>sdb_chouma-on-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1100},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>sdb_chouma-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1052},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>sdb_chouma.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1012},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>sdb_choumaSp.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,156},{168,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,33}}</string>
                <key>sourceSize</key>
                <string>{168,33}</string>
            </dict>
            <key>sdb_daojishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,721},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>sdb_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2},{99,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,173}}</string>
                <key>sourceSize</key>
                <string>{99,173}</string>
            </dict>
            <key>sdb_fanbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1006},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>sdb_fanbei_on-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1000},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>sdb_fanbei_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,992},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>sdb_fanbeitext.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,430},{59,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,35}}</string>
                <key>sourceSize</key>
                <string>{59,35}</string>
            </dict>
            <key>sdb_fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{187,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,4}}</string>
                <key>sourceSize</key>
                <string>{187,4}</string>
            </dict>
            <key>sdb_head_male.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1180},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>sdb_heidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{837,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{837,720}}</string>
                <key>sourceSize</key>
                <string>{837,720}</string>
            </dict>
            <key>sdb_jia-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1360},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>sdb_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1360},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>sdb_jian-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1340},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>sdb_jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1340},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>sdb_jiaopai-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1260},{182,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,84}}</string>
                <key>sourceSize</key>
                <string>{182,84}</string>
            </dict>
            <key>sdb_jiaopai-liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,369},{59,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,35}}</string>
                <key>sourceSize</key>
                <string>{59,35}</string>
            </dict>
            <key>sdb_jiaopai.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1180},{182,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,84}}</string>
                <key>sourceSize</key>
                <string>{182,84}</string>
            </dict>
            <key>sdb_jiaopai_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1314},{182,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,84}}</string>
                <key>sourceSize</key>
                <string>{182,84}</string>
            </dict>
            <key>sdb_jiesuandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,782},{222,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,78}}</string>
                <key>sourceSize</key>
                <string>{222,78}</string>
            </dict>
            <key>sdb_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,191},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>sdb_jixuyouxi-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,724},{237,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,90}}</string>
                <key>sourceSize</key>
                <string>{237,90}</string>
            </dict>
            <key>sdb_jixuyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,724},{237,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,90}}</string>
                <key>sourceSize</key>
                <string>{237,90}</string>
            </dict>
            <key>sdb_likaifangjian-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,724},{237,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,90}}</string>
                <key>sourceSize</key>
                <string>{237,90}</string>
            </dict>
            <key>sdb_likaifangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{237,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,90}}</string>
                <key>sourceSize</key>
                <string>{237,90}</string>
            </dict>
            <key>sdb_otherChouma.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,308},{141,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,93}}</string>
                <key>sourceSize</key>
                <string>{141,93}</string>
            </dict>
            <key>sdb_paoma.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,816},{194,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,194}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>sdb_qiangzhuang-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1274},{182,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,84}}</string>
                <key>sourceSize</key>
                <string>{182,84}</string>
            </dict>
            <key>sdb_qiangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1254},{182,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,84}}</string>
                <key>sourceSize</key>
                <string>{182,84}</string>
            </dict>
            <key>sdb_qiangzhuang_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,652},{107,67}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{107,67}}</string>
                <key>sourceSize</key>
                <string>{113,73}</string>
            </dict>
            <key>sdb_qizhuang-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,904},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>sdb_qizhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,816},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>sdb_qizhuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,816},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>sdb_queren.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1174},{182,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,84}}</string>
                <key>sourceSize</key>
                <string>{182,84}</string>
            </dict>
            <key>sdb_queren_on-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1228},{182,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,84}}</string>
                <key>sourceSize</key>
                <string>{182,84}</string>
            </dict>
            <key>sdb_queren_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1188},{182,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,84}}</string>
                <key>sourceSize</key>
                <string>{182,84}</string>
            </dict>
            <key>sdb_rule-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1266},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>sdb_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1266},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>sdb_shengyin-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1266},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>sdb_shengyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,1400},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>sdb_shu-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,595},{126,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,55}}</string>
                <key>sourceSize</key>
                <string>{126,55}</string>
            </dict>
            <key>sdb_sikaozhong_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,103},{168,51}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{168,51}}</string>
                <key>sourceSize</key>
                <string>{168,73}</string>
            </dict>
            <key>sdb_tingjiao-liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,491},{58,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,35}}</string>
                <key>sourceSize</key>
                <string>{58,35}</string>
            </dict>
            <key>sdb_tingpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>sdb_tingpai_on-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>sdb_tingpai_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,822},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>sdb_touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,191},{115,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,154}}</string>
                <key>sourceSize</key>
                <string>{115,154}</string>
            </dict>
            <key>sdb_tuichu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1400},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>sdb_tuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,714},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>sdb_xianshikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{223,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,58}}</string>
                <key>sourceSize</key>
                <string>{223,58}</string>
            </dict>
            <key>sdb_xiazhu-liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,308},{59,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,35}}</string>
                <key>sourceSize</key>
                <string>{59,35}</string>
            </dict>
            <key>sdb_xiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1168},{182,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,84}}</string>
                <key>sourceSize</key>
                <string>{182,84}</string>
            </dict>
            <key>sdb_xiazhu_on-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1094},{182,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,84}}</string>
                <key>sourceSize</key>
                <string>{182,84}</string>
            </dict>
            <key>sdb_xiazhu_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1088},{182,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,84}}</string>
                <key>sourceSize</key>
                <string>{182,84}</string>
            </dict>
            <key>sdb_ying-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,538},{126,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,55}}</string>
                <key>sourceSize</key>
                <string>{126,55}</string>
            </dict>
            <key>sdb_yinxiao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1078},{50,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{50,64}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>sdb_yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1012},{50,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{50,64}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>sdb_yinxiao2-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1334},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{52,64}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>sdb_yinxiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1334},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{52,64}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>sdb_yinyue-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1334},{52,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>sdb_yinyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,646},{52,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>sdb_yinyue2-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1322},{54,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>sdb_yinyue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1266},{54,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>sdb_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,403},{133,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,137}}</string>
                <key>sourceSize</key>
                <string>{133,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shidianban.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9af5898858bf4d1120d73ec38e0bf53c$</string>
            <key>textureFileName</key>
            <string>shidianban.png</string>
        </dict>
    </dict>
</plist>
