<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>brnn_0x00.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1325},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x01.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1325},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x02.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1325},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x03.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1178},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x04.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1178},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x05.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1178},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x06.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1178},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x07.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1748},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x08.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1558},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x09.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1368},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x0A.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1178},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x0B.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1031},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x0C.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1031},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x0D.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1031},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x11.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1031},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1791},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1601},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1411},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1221},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1031},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x17.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,884},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x18.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,884},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x19.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,884},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x1A.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,884},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x1B.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x1C.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,737},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x1D.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,737},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x21.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,737},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x22.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,737},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,590},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x25.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,590},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x26.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,590},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x27.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,590},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x29.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,443},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x2A.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,443},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x2B.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,443},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x2C.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,443},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x2D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x31.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,296},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,296},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x33.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,296},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,296},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,149},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x37.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,149},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,149},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x39.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,149},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x3A.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x3B.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x3C.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x3D.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x4E.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>brnn_0x4F.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56f729c448694827278f853ef2d305eb$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
