<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yyy_Dice1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1188},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>yyy_Dice2.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1143},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>yyy_Dice3.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1109},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>yyy_Dice4.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1023},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>yyy_Dice5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1190},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>yyy_Dice6.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,704},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>yyy_anniu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1177},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>yyy_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1119},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>yyy_bao.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1187},{77,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,79}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>yyy_baoxianxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1193},{95,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,32}}</string>
                <key>sourceSize</key>
                <string>{95,32}</string>
            </dict>
            <key>yyy_baoxianxiangsp.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,459},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>yyy_da.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1105},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>yyy_dengdai.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,82},{320,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,44}}</string>
                <key>sourceSize</key>
                <string>{320,44}</string>
            </dict>
            <key>yyy_di-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{425,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,111}}</string>
                <key>sourceSize</key>
                <string>{425,111}</string>
            </dict>
            <key>yyy_di-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,278},{354,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,111}}</string>
                <key>sourceSize</key>
                <string>{354,111}</string>
            </dict>
            <key>yyy_di-xiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1268},{75,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,22}}</string>
                <key>sourceSize</key>
                <string>{75,22}</string>
            </dict>
            <key>yyy_di-xinxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{168,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,32}}</string>
                <key>sourceSize</key>
                <string>{168,32}</string>
            </dict>
            <key>yyy_di1.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,527},{301,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{301,136}}</string>
                <key>sourceSize</key>
                <string>{313,148}</string>
            </dict>
            <key>yyy_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,665},{301,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{301,122}}</string>
                <key>sourceSize</key>
                <string>{313,134}</string>
            </dict>
            <key>yyy_di3.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1121},{87,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{87,93}}</string>
                <key>sourceSize</key>
                <string>{99,105}</string>
            </dict>
            <key>yyy_di4.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,528},{211,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{211,80}}</string>
                <key>sourceSize</key>
                <string>{223,92}</string>
            </dict>
            <key>yyy_di5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{204,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{204,80}}</string>
                <key>sourceSize</key>
                <string>{216,92}</string>
            </dict>
            <key>yyy_di6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{657,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{657,121}}</string>
                <key>sourceSize</key>
                <string>{669,133}</string>
            </dict>
            <key>yyy_di7.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,909},{107,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{107,102}}</string>
                <key>sourceSize</key>
                <string>{119,114}</string>
            </dict>
            <key>yyy_dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,1119},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>yyy_guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,417},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>yyy_guizetext.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,609},{62,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,31}}</string>
                <key>sourceSize</key>
                <string>{62,31}</string>
            </dict>
            <key>yyy_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,975},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>yyy_kaijiangshijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1109},{54,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,17}}</string>
                <key>sourceSize</key>
                <string>{54,17}</string>
            </dict>
            <key>yyy_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,642},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>yyy_kuang_qitawanjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,391},{49,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,24}}</string>
                <key>sourceSize</key>
                <string>{49,24}</string>
            </dict>
            <key>yyy_lianzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,929},{162,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,44}}</string>
                <key>sourceSize</key>
                <string>{162,44}</string>
            </dict>
            <key>yyy_lunhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,36},{162,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,44}}</string>
                <key>sourceSize</key>
                <string>{162,44}</string>
            </dict>
            <key>yyy_naozhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1011},{98,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,96}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>yyy_qitawanjia-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,1203},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,74}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>yyy_qitawanjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1200},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,74}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>yyy_qxsz-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,961},{133,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,60}}</string>
                <key>sourceSize</key>
                <string>{133,60}</string>
            </dict>
            <key>yyy_qxsz.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,961},{133,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,60}}</string>
                <key>sourceSize</key>
                <string>{133,60}</string>
            </dict>
            <key>yyy_qxxz-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1128},{133,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,60}}</string>
                <key>sourceSize</key>
                <string>{133,60}</string>
            </dict>
            <key>yyy_qxxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1010},{133,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,60}}</string>
                <key>sourceSize</key>
                <string>{133,60}</string>
            </dict>
            <key>yyy_result1.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,634},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>yyy_result2.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,610},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>yyy_result3.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,234},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>yyy_result4.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,210},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>yyy_result5.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,106},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>yyy_result6.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,82},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>yyy_resultbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,576},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>yyy_resultda.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,552},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>yyy_resultxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,528},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>yyy_setdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,610},{209,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,317}}</string>
                <key>sourceSize</key>
                <string>{209,317}</string>
            </dict>
            <key>yyy_shaizi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1276},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>yyy_shaizi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1235},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>yyy_shaizi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1130},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>yyy_shaizi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1067},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>yyy_shaizi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1004},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>yyy_shaizi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,929},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>yyy_shangzhuang-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{133,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,60}}</string>
                <key>sourceSize</key>
                <string>{133,60}</string>
            </dict>
            <key>yyy_shangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{133,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,60}}</string>
                <key>sourceSize</key>
                <string>{133,60}</string>
            </dict>
            <key>yyy_shouna.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1113},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>yyy_shouna1.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1023},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>yyy_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,789},{293,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,82}}</string>
                <key>sourceSize</key>
                <string>{293,82}</string>
            </dict>
            <key>yyy_tipzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,922},{183,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,24}}</string>
                <key>sourceSize</key>
                <string>{183,24}</string>
            </dict>
            <key>yyy_tuichu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1288},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>yyy_tuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1227},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>yyy_userdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{407,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,467}}</string>
                <key>sourceSize</key>
                <string>{407,467}</string>
            </dict>
            <key>yyy_userdi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,873},{285,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,86}}</string>
                <key>sourceSize</key>
                <string>{285,86}</string>
            </dict>
            <key>yyy_windi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,128},{313,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,148}}</string>
                <key>sourceSize</key>
                <string>{313,148}</string>
            </dict>
            <key>yyy_windi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,391},{313,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,134}}</string>
                <key>sourceSize</key>
                <string>{313,134}</string>
            </dict>
            <key>yyy_windi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,802},{99,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,105}}</string>
                <key>sourceSize</key>
                <string>{99,105}</string>
            </dict>
            <key>yyy_windi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,340},{223,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,92}}</string>
                <key>sourceSize</key>
                <string>{223,92}</string>
            </dict>
            <key>yyy_windi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,434},{216,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,92}}</string>
                <key>sourceSize</key>
                <string>{216,92}</string>
            </dict>
            <key>yyy_windi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{669,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{669,133}}</string>
                <key>sourceSize</key>
                <string>{669,133}</string>
            </dict>
            <key>yyy_windi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1072},{119,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,114}}</string>
                <key>sourceSize</key>
                <string>{119,114}</string>
            </dict>
            <key>yyy_xiadiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{848,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{848,78}}</string>
                <key>sourceSize</key>
                <string>{848,78}</string>
            </dict>
            <key>yyy_xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1023},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>yyy_xiazhuang-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,975},{133,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,60}}</string>
                <key>sourceSize</key>
                <string>{133,60}</string>
            </dict>
            <key>yyy_xiazhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,948},{133,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,60}}</string>
                <key>sourceSize</key>
                <string>{133,60}</string>
            </dict>
            <key>yyy_xiazhushijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,992},{54,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,17}}</string>
                <key>sourceSize</key>
                <string>{54,17}</string>
            </dict>
            <key>yyy_xutou-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1037},{128,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,104}}</string>
                <key>sourceSize</key>
                <string>{128,104}</string>
            </dict>
            <key>yyy_xutou.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1013},{128,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,104}}</string>
                <key>sourceSize</key>
                <string>{128,104}</string>
            </dict>
            <key>yyy_yinxiao-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,130},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>yyy_yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,170},{33,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,38}}</string>
                <key>sourceSize</key>
                <string>{33,38}</string>
            </dict>
            <key>yyy_yinxiaozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,575},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>yyy_yinyue-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,948},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>yyy_yinyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,986},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>yyy_yinyuezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,541},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>yyy_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,501},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yaoyiyao.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40b32fe6a805de293ef6af36403e3acc$</string>
            <key>textureFileName</key>
            <string>yaoyiyao.png</string>
        </dict>
    </dict>
</plist>
