<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>1</key>
			<array>	
				<string>{ 73.00000,25.00000 }</string>	
				<string>{ 69.00000,-26.00000 }</string>	
				<string>{ 23.00000,-64.00000 }</string>	
				<string>{ 19.00000,-20.00000 }</string>	
				<string>{ 23.00000,26.00000 }</string>	
				<string>{ 39.00000,64.00000 }</string>
			</array>
		<key>2</key>
			<array>	
				<string>{ 132.00000,-11.00000 }</string>	
				<string>{ 69.00000,-26.00000 }</string>	
				<string>{ 73.00000,25.00000 }</string>	
				<string>{ 107.00000,24.00000 }</string>	
				<string>{ 136.00000,12.00000 }</string>
			</array>
		<key>3</key>
			<array>	
				<string>{ 23.00000,26.00000 }</string>	
				<string>{ 19.00000,-20.00000 }</string>	
				<string>{ -95.00000,12.00000 }</string>
			</array>
	</dict>
</plist>




