<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>1</key>
			<array>	
				<string>{ 8.00000,-7.00000 }</string>	
				<string>{ -17.00000,1.00000 }</string>	
				<string>{ -3.00000,10.00000 }</string>	
				<string>{ 25.00000,4.00000 }</string>
			</array>
	</dict>
</plist>

