<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>1</key>
			<array>	
				<string>{ 0.50000,-161.00000 }</string>	
				<string>{ -181.50000,2.00000 }</string>	
				<string>{ 3.50000,158.00000 }</string>	
				<string>{ 185.50000,-5.00000 }</string>
			</array>
	</dict>
</plist>




