<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>1</key>
			<array>	
				<string>{ -289.00000,-61.00000 }</string>	
				<string>{ 417.00000,-86.00000 }</string>	
				<string>{ 413.00000,-201.00000 }</string>	
				<string>{ -297.00000,-176.00000 }</string>
			</array>
	</dict>
</plist>




