<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>1</key>
			<array>	
				<string>{ -25.00000,23.50000 }</string>	
				<string>{ 10.00000,19.50000 }</string>	
				<string>{ 16.00000,0.50000 }</string>	
				<string>{ 17.00000,-14.50000 }</string>	
				<string>{ -3.00000,-20.50000 }</string>	
				<string>{ -36.00000,-20.50000 }</string>	
				<string>{ -72.00000,2.50000 }</string>
			</array>
		<key>2</key>
			<array>	
				<string>{ 17.00000,-14.50000 }</string>	
				<string>{ 16.00000,0.50000 }</string>	
				<string>{ 56.00000,1.50000 }</string>
			</array>
	</dict>
</plist>




