<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>szp_bipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,991},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_bipai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,968},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_bipai_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_bipaitishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1347},{176,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,108}}</string>
                <key>sourceSize</key>
                <string>{176,108}</string>
            </dict>
            <key>szp_bipaitouxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1386},{115,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,154}}</string>
                <key>sourceSize</key>
                <string>{115,154}</string>
            </dict>
            <key>szp_btn_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1056},{182,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,69}}</string>
                <key>sourceSize</key>
                <string>{182,69}</string>
            </dict>
            <key>szp_btn_ready2.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1058},{182,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,69}}</string>
                <key>sourceSize</key>
                <string>{182,69}</string>
            </dict>
            <key>szp_btn_ready3.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,351},{90,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,48}}</string>
                <key>sourceSize</key>
                <string>{90,48}</string>
            </dict>
            <key>szp_chouma1.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1485},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>szp_chouma10.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1523},{105,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,102}}</string>
                <key>sourceSize</key>
                <string>{105,102}</string>
            </dict>
            <key>szp_chouma2.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1504},{103,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,100}}</string>
                <key>sourceSize</key>
                <string>{103,100}</string>
            </dict>
            <key>szp_chouma3.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1432},{105,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,102}}</string>
                <key>sourceSize</key>
                <string>{105,102}</string>
            </dict>
            <key>szp_chouma4.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1482},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>szp_chouma5.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1400},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>szp_chouma6.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1419},{105,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,102}}</string>
                <key>sourceSize</key>
                <string>{105,102}</string>
            </dict>
            <key>szp_chouma7.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1381},{105,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,102}}</string>
                <key>sourceSize</key>
                <string>{105,102}</string>
            </dict>
            <key>szp_chouma8.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1277},{105,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,102}}</string>
                <key>sourceSize</key>
                <string>{105,102}</string>
            </dict>
            <key>szp_chouma9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1457},{105,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,102}}</string>
                <key>sourceSize</key>
                <string>{105,102}</string>
            </dict>
            <key>szp_choumahui.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1503},{103,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,100}}</string>
                <key>sourceSize</key>
                <string>{103,100}</string>
            </dict>
            <key>szp_daojishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1335},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>szp_daojishiguangdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1536},{105,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,100}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>szp_gendaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,967},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_gendaodi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1017},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_gendaodi1_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,929},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_gendaodi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,903},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_gendaodi_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,880},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_genzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_genzhu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,815},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_genzhu_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,792},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_genzhutishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1276},{176,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,108}}</string>
                <key>sourceSize</key>
                <string>{176,108}</string>
            </dict>
            <key>szp_guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1468},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>szp_guize_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1481},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>szp_head_female.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1328},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>szp_head_male.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1242},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>szp_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1414},{66,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,82}}</string>
                <key>sourceSize</key>
                <string>{66,82}</string>
            </dict>
            <key>szp_jiantou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1400},{66,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,82}}</string>
                <key>sourceSize</key>
                <string>{66,82}</string>
            </dict>
            <key>szp_jiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_jiazhu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,841},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_jiazhu_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,727},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_jiazhukuangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{603,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{603,178}}</string>
                <key>sourceSize</key>
                <string>{603,178}</string>
            </dict>
            <key>szp_jiazhutishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1189},{176,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,108}}</string>
                <key>sourceSize</key>
                <string>{176,108}</string>
            </dict>
            <key>szp_jijiangkaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{381,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,57}}</string>
                <key>sourceSize</key>
                <string>{381,57}</string>
            </dict>
            <key>szp_jinbitubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,91},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>szp_jinbitubiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,65},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>szp_jixuyouxi-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,704},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_jixuyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_kanpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,753},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_kanpai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,639},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_kanpai_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,616},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_kanpaitishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1237},{176,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,108}}</string>
                <key>sourceSize</key>
                <string>{176,108}</string>
            </dict>
            <key>szp_kanpaixianshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,235},{31,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,58}}</string>
                <key>sourceSize</key>
                <string>{31,58}</string>
            </dict>
            <key>szp_liangpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_liangpai_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,665},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_liangpaitishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1166},{176,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,108}}</string>
                <key>sourceSize</key>
                <string>{176,108}</string>
            </dict>
            <key>szp_likaifangjian-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,551},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_likaifangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,528},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_loading_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,21},{704,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,17}}</string>
                <key>sourceSize</key>
                <string>{704,17}</string>
            </dict>
            <key>szp_loading_linebackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{704,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,17}}</string>
                <key>sourceSize</key>
                <string>{704,17}</string>
            </dict>
            <key>szp_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,108},{555,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{555,321}}</string>
                <key>sourceSize</key>
                <string>{555,321}</string>
            </dict>
            <key>szp_paibei.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1105},{118,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,156}}</string>
                <key>sourceSize</key>
                <string>{118,156}</string>
            </dict>
            <key>szp_paibei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,665},{134,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,110}}</string>
                <key>sourceSize</key>
                <string>{134,110}</string>
            </dict>
            <key>szp_paibei3.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,947},{118,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,156}}</string>
                <key>sourceSize</key>
                <string>{118,156}</string>
            </dict>
            <key>szp_paibei_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,549},{84,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,73}}</string>
                <key>sourceSize</key>
                <string>{84,73}</string>
            </dict>
            <key>szp_paibei_l_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,463},{84,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,73}}</string>
                <key>sourceSize</key>
                <string>{84,73}</string>
            </dict>
            <key>szp_paibei_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,748},{81,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,73}}</string>
                <key>sourceSize</key>
                <string>{81,73}</string>
            </dict>
            <key>szp_paibei_r_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,635},{81,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,73}}</string>
                <key>sourceSize</key>
                <string>{81,73}</string>
            </dict>
            <key>szp_qipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,1151},{182,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,84}}</string>
                <key>sourceSize</key>
                <string>{182,84}</string>
            </dict>
            <key>szp_qipai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1191},{182,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,84}}</string>
                <key>sourceSize</key>
                <string>{182,84}</string>
            </dict>
            <key>szp_qipai_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1105},{182,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,84}}</string>
                <key>sourceSize</key>
                <string>{182,84}</string>
            </dict>
            <key>szp_qipaidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,293},{214,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,56}}</string>
                <key>sourceSize</key>
                <string>{214,56}</string>
            </dict>
            <key>szp_qipaitishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1079},{176,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,108}}</string>
                <key>sourceSize</key>
                <string>{176,108}</string>
            </dict>
            <key>szp_qipaixianshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,862},{133,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,83}}</string>
                <key>sourceSize</key>
                <string>{133,83}</string>
            </dict>
            <key>szp_quanxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_quanxia2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,463},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_quanxia_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,440},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_quanxiatishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1127},{176,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,108}}</string>
                <key>sourceSize</key>
                <string>{176,108}</string>
            </dict>
            <key>szp_s_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1299},{99,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,173}}</string>
                <key>sourceSize</key>
                <string>{99,173}</string>
            </dict>
            <key>szp_shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,777},{133,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,83}}</string>
                <key>sourceSize</key>
                <string>{133,83}</string>
            </dict>
            <key>szp_touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1263},{115,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,154}}</string>
                <key>sourceSize</key>
                <string>{115,154}</string>
            </dict>
            <key>szp_tuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1413},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>szp_tuichu_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1345},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>szp_xiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_xiazhu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,352},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_xiazhu_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>szp_xiazhude.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1056},{176,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,108}}</string>
                <key>sourceSize</key>
                <string>{176,108}</string>
            </dict>
            <key>szp_xiazhuxianshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,65},{168,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,33}}</string>
                <key>sourceSize</key>
                <string>{168,33}</string>
            </dict>
            <key>szp_xiazhuxianshi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{168,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,33}}</string>
                <key>sourceSize</key>
                <string>{168,33}</string>
            </dict>
            <key>szp_xinxikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,351},{197,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,110}}</string>
                <key>sourceSize</key>
                <string>{197,110}</string>
            </dict>
            <key>szp_xuanzebipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,268},{478,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,57}}</string>
                <key>sourceSize</key>
                <string>{478,57}</string>
            </dict>
            <key>szp_yinxiao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,990},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>szp_yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1277},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>szp_yinxiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,922},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>szp_yinxiao2-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,854},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>szp_yinxiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,899},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>szp_yinxiao_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1457},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>szp_yinyue-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,786},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>szp_yinyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,831},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>szp_yinyue2-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,718},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>szp_yinyue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,40},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>szp_zhuangjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,172},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szp_zidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{631,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,71}}</string>
                <key>sourceSize</key>
                <string>{631,71}</string>
            </dict>
            <key>szp_zongxiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{278,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,61}}</string>
                <key>sourceSize</key>
                <string>{278,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>img_szp.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76b066686fda5dc58a83b50614bdc9f5$</string>
            <key>textureFileName</key>
            <string>img_szp.png</string>
        </dict>
    </dict>
</plist>
