<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>honghei_chouma_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,478},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>honghei_chouma_1an.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>honghei_chouma_1hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,359},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>honghei_chouma_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,359},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>honghei_chouma_2an.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,359},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>honghei_chouma_2hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>honghei_chouma_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,240},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>honghei_chouma_3an.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,240},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>honghei_chouma_3hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,240},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>honghei_chouma_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>honghei_chouma_4an.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,121},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>honghei_chouma_4hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,121},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>honghei_chouma_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,121},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>honghei_chouma_5an.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>honghei_chouma_5hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>honghei_chouma_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>honghei_chouma_6an.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>honghei_chouma_6hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chip.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f57a368dcfd810f333350d22f344243b$</string>
            <key>textureFileName</key>
            <string>chip.png</string>
        </dict>
    </dict>
</plist>
