<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sf_game_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,1793},{24,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,40}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>sf_game_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,1529},{31,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,41}}</string>
                <key>sourceSize</key>
                <string>{31,41}</string>
            </dict>
            <key>sf_game_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,1953},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>sf_game_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,1572},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>sf_game_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,1996},{30,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,39}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>sf_game_777.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1132},{130,88}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{130,88}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>sf_game_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1660},{112,104}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,16},{112,104}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>sf_game_chengzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1774},{104,94}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,27},{104,94}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>sf_game_danbeijinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,863},{153,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,91}}</string>
                <key>sourceSize</key>
                <string>{153,91}</string>
            </dict>
            <key>sf_game_dengdaijiaru.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2005},{85,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,21}}</string>
                <key>sourceSize</key>
                <string>{85,21}</string>
            </dict>
            <key>sf_game_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1976},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>sf_game_fanhui_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,1976},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>sf_game_gengduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,1966},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>sf_game_gengduo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1966},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>sf_game_gengduo1_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,1222},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>sf_game_gengduo_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,1793},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>sf_game_gengduoxiala.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1835},{85,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,244}}</string>
                <key>sourceSize</key>
                <string>{85,244}</string>
            </dict>
            <key>sf_game_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,1621},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{36,38}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>sf_game_guanbi_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,551},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{36,38}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>sf_game_guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,147},{41,51}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{41,51}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
            <key>sf_game_guize_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,94},{41,51}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{41,51}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
            <key>sf_game_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,863},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,145}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>sf_game_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,48},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{44,44}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>sf_game_jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,2},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{44,44}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>sf_game_jinbidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2005},{125,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,28}}</string>
                <key>sourceSize</key>
                <string>{125,28}</string>
            </dict>
            <key>sf_game_jinbitubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1835},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>sf_game_kaishi-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1835},{199,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,202}}</string>
                <key>sourceSize</key>
                <string>{199,202}</string>
            </dict>
            <key>sf_game_kaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,410},{199,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,202}}</string>
                <key>sourceSize</key>
                <string>{199,202}</string>
            </dict>
            <key>sf_game_kaishi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1835},{199,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,202}}</string>
                <key>sourceSize</key>
                <string>{199,202}</string>
            </dict>
            <key>sf_game_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,1705},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>sf_game_lagan.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1165},{65,141}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,141}}</string>
                <key>sourceSize</key>
                <string>{65,151}</string>
            </dict>
            <key>sf_game_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1779},{879,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{879,54}}</string>
                <key>sourceSize</key>
                <string>{879,54}</string>
            </dict>
            <key>sf_game_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1723},{879,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{879,54}}</string>
                <key>sourceSize</key>
                <string>{879,54}</string>
            </dict>
            <key>sf_game_line3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1667},{879,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{879,54}}</string>
                <key>sourceSize</key>
                <string>{879,54}</string>
            </dict>
            <key>sf_game_line4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{877,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{877,326}}</string>
                <key>sourceSize</key>
                <string>{877,326}</string>
            </dict>
            <key>sf_game_line5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{877,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{877,326}}</string>
                <key>sourceSize</key>
                <string>{877,326}</string>
            </dict>
            <key>sf_game_line6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1453},{879,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{879,212}}</string>
                <key>sourceSize</key>
                <string>{879,212}</string>
            </dict>
            <key>sf_game_line7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1239},{879,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{879,212}}</string>
                <key>sourceSize</key>
                <string>{879,212}</string>
            </dict>
            <key>sf_game_line8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,949},{875,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{875,288}}</string>
                <key>sourceSize</key>
                <string>{875,288}</string>
            </dict>
            <key>sf_game_line9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{875,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{875,289}}</string>
                <key>sourceSize</key>
                <string>{875,289}</string>
            </dict>
            <key>sf_game_lingdang.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1870},{88,94}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{88,94}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>sf_game_lizhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1018},{126,112}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{126,112}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>sf_game_mianfei-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,206},{199,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,202}}</string>
                <key>sourceSize</key>
                <string>{199,202}</string>
            </dict>
            <key>sf_game_mianfei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1835},{199,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,202}}</string>
                <key>sourceSize</key>
                <string>{199,202}</string>
            </dict>
            <key>sf_game_mianfei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,2},{199,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,202}}</string>
                <key>sourceSize</key>
                <string>{199,202}</string>
            </dict>
            <key>sf_game_ningmeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1222},{98,84}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{98,84}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>sf_game_pingguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1550},{110,108}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{110,108}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>sf_game_putao.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,1419},{104,108}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{104,108}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>sf_game_xigua.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,1529},{90,94}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,21},{90,94}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>sf_game_xingyuncao.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1621},{82,92}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,22},{82,92}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>sf_game_yaxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1308},{109,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,91}}</string>
                <key>sourceSize</key>
                <string>{109,91}</string>
            </dict>
            <key>sf_game_yingtao.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1870},{108,104}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{108,104}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>sf_game_yinle-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,404},{39,47}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{39,47}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
            <key>sf_game_yinle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,353},{39,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{39,49}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
            <key>sf_game_yinle2-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,302},{39,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{39,49}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
            <key>sf_game_yinle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,251},{39,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{39,49}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
            <key>sf_game_yinxiao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,200},{41,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{41,49}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
            <key>sf_game_yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,1791},{41,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{41,49}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
            <key>sf_game_yinxiao2-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,1748},{41,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{41,49}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
            <key>sf_game_yinxiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,1705},{41,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{41,49}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
            <key>sf_game_yuerbao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,1894},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{57,53}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
            <key>sf_game_yuerbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,1835},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{57,53}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
            <key>sf_game_zhanji-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,502},{41,47}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{41,47}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
            <key>sf_game_zhanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,453},{41,47}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{41,47}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
            <key>sf_game_zidongyouxi1-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,780},{222,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,81}}</string>
                <key>sourceSize</key>
                <string>{222,81}</string>
            </dict>
            <key>sf_game_zidongyouxi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,697},{222,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,81}}</string>
                <key>sourceSize</key>
                <string>{222,81}</string>
            </dict>
            <key>sf_game_zidongyouxi2-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,614},{222,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,81}}</string>
                <key>sourceSize</key>
                <string>{222,81}</string>
            </dict>
            <key>sf_game_zidongyouxi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1922},{222,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,81}}</string>
                <key>sourceSize</key>
                <string>{222,81}</string>
            </dict>
            <key>sf_game_zongxiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1010},{153,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,91}}</string>
                <key>sourceSize</key>
                <string>{153,91}</string>
            </dict>
            <key>sf_game_zuidazhu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1308},{119,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,105}}</string>
                <key>sourceSize</key>
                <string>{119,105}</string>
            </dict>
            <key>sf_game_zuidazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1429},{119,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,111}}</string>
                <key>sourceSize</key>
                <string>{119,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>superfruittable.png</string>
            <key>size</key>
            <string>{1128,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f522890d93cb6e33ecbe0334d10a1de:1/1$</string>
            <key>textureFileName</key>
            <string>superfruittable.png</string>
        </dict>
    </dict>
</plist>
