<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lianhuan_$.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,408},{29,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,51}}</string>
                <key>sourceSize</key>
                <string>{29,51}</string>
            </dict>
            <key>lianhuan_anniu-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,608},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>lianhuan_anniu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,608},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>lianhuan_anniu2-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,683},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>lianhuan_anniu2-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,649},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>lianhuan_anniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,608},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>lianhuan_anniu3-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,647},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>lianhuan_anniu3-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,570},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>lianhuan_anniu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,698},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>lianhuan_anniu4-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,608},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>lianhuan_anniu4-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,595},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>lianhuan_anniu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,541},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>lianhuan_baoliujindu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,653},{210,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,71}}</string>
                <key>sourceSize</key>
                <string>{210,71}</string>
            </dict>
            <key>lianhuan_baoliujindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,535},{210,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,71}}</string>
                <key>sourceSize</key>
                <string>{210,71}</string>
            </dict>
            <key>lianhuan_benchangyouxibi.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,225},{109,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,25}}</string>
                <key>sourceSize</key>
                <string>{109,25}</string>
            </dict>
            <key>lianhuan_biaotizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,225},{159,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,36}}</string>
                <key>sourceSize</key>
                <string>{159,36}</string>
            </dict>
            <key>lianhuan_dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,497},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>lianhuan_dxfs.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,370},{119,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,32}}</string>
                <key>sourceSize</key>
                <string>{119,32}</string>
            </dict>
            <key>lianhuan_fangqijindu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,497},{210,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,71}}</string>
                <key>sourceSize</key>
                <string>{210,71}</string>
            </dict>
            <key>lianhuan_fangqijindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,625},{210,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,71}}</string>
                <key>sourceSize</key>
                <string>{210,71}</string>
            </dict>
            <key>lianhuan_fanhui-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,570},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>lianhuan_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,570},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>lianhuan_guanbi-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,698},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>lianhuan_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>lianhuan_guanshu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,346},{79,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,27}}</string>
                <key>sourceSize</key>
                <string>{79,27}</string>
            </dict>
            <key>lianhuan_guanshu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,317},{79,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,27}}</string>
                <key>sourceSize</key>
                <string>{79,27}</string>
            </dict>
            <key>lianhuan_guanshu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,290},{79,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,27}}</string>
                <key>sourceSize</key>
                <string>{79,27}</string>
            </dict>
            <key>lianhuan_guize-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,263},{120,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{120,35}}</string>
                <key>sourceSize</key>
                <string>{124,37}</string>
            </dict>
            <key>lianhuan_guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,165},{120,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{120,35}}</string>
                <key>sourceSize</key>
                <string>{124,37}</string>
            </dict>
            <key>lianhuan_huakuai-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,491},{48,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,35}}</string>
                <key>sourceSize</key>
                <string>{48,35}</string>
            </dict>
            <key>lianhuan_huakuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,441},{48,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,35}}</string>
                <key>sourceSize</key>
                <string>{48,35}</string>
            </dict>
            <key>lianhuan_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,461},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>lianhuan_kaishiduobao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,100},{283,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,96}}</string>
                <key>sourceSize</key>
                <string>{283,96}</string>
            </dict>
            <key>lianhuan_kaishiduobao.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,2},{283,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,96}}</string>
                <key>sourceSize</key>
                <string>{283,96}</string>
            </dict>
            <key>lianhuan_kaishiyouxi-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,580},{210,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,71}}</string>
                <key>sourceSize</key>
                <string>{210,71}</string>
            </dict>
            <key>lianhuan_kaishiyouxi-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,462},{210,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,71}}</string>
                <key>sourceSize</key>
                <string>{210,71}</string>
            </dict>
            <key>lianhuan_kaishiyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,424},{210,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,71}}</string>
                <key>sourceSize</key>
                <string>{210,71}</string>
            </dict>
            <key>lianhuan_leijijiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,41},{135,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,50}}</string>
                <key>sourceSize</key>
                <string>{135,50}</string>
            </dict>
            <key>lianhuan_leijijiangbiaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,252},{107,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,36}}</string>
                <key>sourceSize</key>
                <string>{107,36}</string>
            </dict>
            <key>lianhuan_quxiaotuoguan-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{210,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,71}}</string>
                <key>sourceSize</key>
                <string>{210,71}</string>
            </dict>
            <key>lianhuan_quxiaotuoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,507},{210,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,71}}</string>
                <key>sourceSize</key>
                <string>{210,71}</string>
            </dict>
            <key>lianhuan_shangla-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,606},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>lianhuan_shangla.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,529},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>lianhuan_shangyiye-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,389},{210,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,71}}</string>
                <key>sourceSize</key>
                <string>{210,71}</string>
            </dict>
            <key>lianhuan_shangyiye.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{210,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,71}}</string>
                <key>sourceSize</key>
                <string>{210,71}</string>
            </dict>
            <key>lianhuan_tb-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,406},{33,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,36}}</string>
                <key>sourceSize</key>
                <string>{33,36}</string>
            </dict>
            <key>lianhuan_tb.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,371},{33,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,36}}</string>
                <key>sourceSize</key>
                <string>{33,36}</string>
            </dict>
            <key>lianhuan_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,313},{182,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,17}}</string>
                <key>sourceSize</key>
                <string>{182,17}</string>
            </dict>
            <key>lianhuan_tiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,41},{182,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,17}}</string>
                <key>sourceSize</key>
                <string>{182,17}</string>
            </dict>
            <key>lianhuan_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,389},{72,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,33}}</string>
                <key>sourceSize</key>
                <string>{72,33}</string>
            </dict>
            <key>lianhuan_tuichushuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{575,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,81}}</string>
                <key>sourceSize</key>
                <string>{575,81}</string>
            </dict>
            <key>lianhuan_tuoguanyouxi-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,434},{210,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,71}}</string>
                <key>sourceSize</key>
                <string>{210,71}</string>
            </dict>
            <key>lianhuan_tuoguanyouxi-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{210,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,71}}</string>
                <key>sourceSize</key>
                <string>{210,71}</string>
            </dict>
            <key>lianhuan_tuoguanyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,361},{210,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,71}}</string>
                <key>sourceSize</key>
                <string>{210,71}</string>
            </dict>
            <key>lianhuan_xiala-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,452},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>lianhuan_xiala.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,375},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>lianhuan_xialakuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{189,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,215}}</string>
                <key>sourceSize</key>
                <string>{189,215}</string>
            </dict>
            <key>lianhuan_xialakuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,198},{189,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,274}}</string>
                <key>sourceSize</key>
                <string>{189,274}</string>
            </dict>
            <key>lianhuan_xiangzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,351},{55,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,39}}</string>
                <key>sourceSize</key>
                <string>{55,39}</string>
            </dict>
            <key>lianhuan_xiayiye-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,288},{210,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,71}}</string>
                <key>sourceSize</key>
                <string>{210,71}</string>
            </dict>
            <key>lianhuan_xiayiye.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,215},{210,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,71}}</string>
                <key>sourceSize</key>
                <string>{210,71}</string>
            </dict>
            <key>lianhuan_yafen.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,263},{86,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,45}}</string>
                <key>sourceSize</key>
                <string>{86,45}</string>
            </dict>
            <key>lianhuan_yazhuxiantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,215},{96,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,26}}</string>
                <key>sourceSize</key>
                <string>{96,26}</string>
            </dict>
            <key>lianhuan_yfBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{455,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,128}}</string>
                <key>sourceSize</key>
                <string>{455,128}</string>
            </dict>
            <key>lianhuan_yinxiao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,190},{118,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{118,33}}</string>
                <key>sourceSize</key>
                <string>{124,37}</string>
            </dict>
            <key>lianhuan_yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,155},{118,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{118,33}}</string>
                <key>sourceSize</key>
                <string>{124,37}</string>
            </dict>
            <key>lianhuan_yinyue-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,120},{118,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{118,33}}</string>
                <key>sourceSize</key>
                <string>{124,37}</string>
            </dict>
            <key>lianhuan_yinyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,85},{118,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{118,33}}</string>
                <key>sourceSize</key>
                <string>{124,37}</string>
            </dict>
            <key>lianhuan_youxishuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{143,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,37}}</string>
                <key>sourceSize</key>
                <string>{143,37}</string>
            </dict>
            <key>lianhuan_yuebao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,129},{135,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,34}}</string>
                <key>sourceSize</key>
                <string>{135,34}</string>
            </dict>
            <key>lianhuan_yuebao.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,93},{135,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,34}}</string>
                <key>sourceSize</key>
                <string>{135,34}</string>
            </dict>
            <key>lianhuan_zhanji-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,335},{119,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,33}}</string>
                <key>sourceSize</key>
                <string>{119,33}</string>
            </dict>
            <key>lianhuan_zhanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,300},{119,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,33}}</string>
                <key>sourceSize</key>
                <string>{119,33}</string>
            </dict>
            <key>lianhuan_zongyouxibi.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,290},{88,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,25}}</string>
                <key>sourceSize</key>
                <string>{88,25}</string>
            </dict>
            <key>lianhuananniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,624},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameScene.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8b935979846d49d9b742132d071e438:6f91890f80c32f182b41be772af4b2ce:865db70d33f6fd1c3bd18ff13c48b0ed$</string>
            <key>textureFileName</key>
            <string>GameScene.png</string>
        </dict>
    </dict>
</plist>
