<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,901},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>1-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,723},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,619},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>10-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,439},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>10-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,127},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,231},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>100-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,335},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>100-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,440},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,127},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>1000-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,231},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>1000-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,336},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,903},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>50-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,903},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>50-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,743},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,909},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>500-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,743},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>500-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,743},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>500.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,127},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>animal0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,425},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{68,70}}</string>
                <key>sourceSize</key>
                <string>{114,74}</string>
            </dict>
            <key>animal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,544},{82,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,3},{82,70}}</string>
                <key>sourceSize</key>
                <string>{114,74}</string>
            </dict>
            <key>animal12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,260},{112,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{112,74}}</string>
                <key>sourceSize</key>
                <string>{114,74}</string>
            </dict>
            <key>animal13.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,260},{114,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,74}}</string>
                <key>sourceSize</key>
                <string>{114,74}</string>
            </dict>
            <key>animal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,847},{58,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,2},{58,70}}</string>
                <key>sourceSize</key>
                <string>{114,74}</string>
            </dict>
            <key>animal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,847},{60,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{60,74}}</string>
                <key>sourceSize</key>
                <string>{114,74}</string>
            </dict>
            <key>animal4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,827},{94,72}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{94,72}}</string>
                <key>sourceSize</key>
                <string>{114,74}</string>
            </dict>
            <key>animal5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,847},{60,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{114,74}</string>
            </dict>
            <key>animal6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,544},{82,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,5},{82,62}}</string>
                <key>sourceSize</key>
                <string>{114,74}</string>
            </dict>
            <key>animal7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,543},{94,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{94,74}}</string>
                <key>sourceSize</key>
                <string>{114,74}</string>
            </dict>
            <key>animal8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,335},{88,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{88,72}}</string>
                <key>sourceSize</key>
                <string>{114,74}</string>
            </dict>
            <key>animal9.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,708},{90,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{114,74}</string>
            </dict>
            <key>baoxianxiang-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,425},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>baoxianxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,497},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>di_wanjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,537},{259,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,383}}</string>
                <key>sourceSize</key>
                <string>{259,383}</string>
            </dict>
            <key>diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{218,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,61}}</string>
                <key>sourceSize</key>
                <string>{218,61}</string>
            </dict>
            <key>dingbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{335,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,70}}</string>
                <key>sourceSize</key>
                <string>{335,70}</string>
            </dict>
            <key>faguangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,369},{144,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,104}}</string>
                <key>sourceSize</key>
                <string>{144,104}</string>
            </dict>
            <key>gengduo-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,497},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>gengduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,127},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>guangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{354,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,365}}</string>
                <key>sourceSize</key>
                <string>{354,365}</string>
            </dict>
            <key>guize-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,300},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,404},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>jilu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,942},{84,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,60}}</string>
                <key>sourceSize</key>
                <string>{84,60}</string>
            </dict>
            <key>jilu.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,942},{84,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,60}}</string>
                <key>sourceSize</key>
                <string>{84,60}</string>
            </dict>
            <key>jinbitubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,975},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>jinbixianshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,369},{164,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,40}}</string>
                <key>sourceSize</key>
                <string>{164,40}</string>
            </dict>
            <key>kaijiangzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,973},{75,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,28}}</string>
                <key>sourceSize</key>
                <string>{75,28}</string>
            </dict>
            <key>kaishixiazhu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,338},{292,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,81}}</string>
                <key>sourceSize</key>
                <string>{292,81}</string>
            </dict>
            <key>kaishixiazhutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{798,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{798,121}}</string>
                <key>sourceSize</key>
                <string>{798,121}</string>
            </dict>
            <key>lianzhuangju.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,369},{162,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,44}}</string>
                <key>sourceSize</key>
                <string>{162,44}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{704,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,17}}</string>
                <key>sourceSize</key>
                <string>{704,17}</string>
            </dict>
            <key>linebackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,1004},{704,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,17}}</string>
                <key>sourceSize</key>
                <string>{704,17}</string>
            </dict>
            <key>qingdengdai.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{475,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,68}}</string>
                <key>sourceSize</key>
                <string>{475,68}</string>
            </dict>
            <key>qingdengdaixiajukaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,339},{320,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,44}}</string>
                <key>sourceSize</key>
                <string>{320,44}</string>
            </dict>
            <key>qitawanjia-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,260},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,74}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>qitawanjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,260},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,74}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>quxiaoshangzhuang-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,127},{131,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,53}}</string>
                <key>sourceSize</key>
                <string>{131,53}</string>
            </dict>
            <key>quxiaoshangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,127},{131,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,53}}</string>
                <key>sourceSize</key>
                <string>{131,53}</string>
            </dict>
            <key>quxiaoxiazhuang-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,127},{131,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,53}}</string>
                <key>sourceSize</key>
                <string>{131,53}</string>
            </dict>
            <key>quxiaoxiazhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,757},{131,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,53}}</string>
                <key>sourceSize</key>
                <string>{131,53}</string>
            </dict>
            <key>shangzhuang-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,757},{131,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,53}}</string>
                <key>sourceSize</key>
                <string>{131,53}</string>
            </dict>
            <key>shangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,127},{131,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,53}}</string>
                <key>sourceSize</key>
                <string>{131,53}</string>
            </dict>
            <key>shizhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,479},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>time1.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,767},{102,173}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,15},{102,173}}</string>
                <key>sourceSize</key>
                <string>{172,203}</string>
            </dict>
            <key>time2.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,798},{160,173}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{160,173}}</string>
                <key>sourceSize</key>
                <string>{172,203}</string>
            </dict>
            <key>time3.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,798},{148,175}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{148,175}}</string>
                <key>sourceSize</key>
                <string>{172,203}</string>
            </dict>
            <key>tingzhixiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,336},{291,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,79}}</string>
                <key>sourceSize</key>
                <string>{291,79}</string>
            </dict>
            <key>touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,369},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>tuichu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,231},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>tuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,335},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>wanjiatubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,669},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>xiafang.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{1280,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,123}}</string>
                <key>sourceSize</key>
                <string>{1280,123}</string>
            </dict>
            <key>xialadiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,338},{96,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,313}}</string>
                <key>sourceSize</key>
                <string>{96,313}</string>
            </dict>
            <key>xiazhuang-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,127},{131,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,53}}</string>
                <key>sourceSize</key>
                <string>{131,53}</string>
            </dict>
            <key>xiazhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,127},{131,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,53}}</string>
                <key>sourceSize</key>
                <string>{131,53}</string>
            </dict>
            <key>xiazhuzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,973},{75,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,28}}</string>
                <key>sourceSize</key>
                <string>{75,28}</string>
            </dict>
            <key>xin.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,479},{61,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,55}}</string>
                <key>sourceSize</key>
                <string>{63,55}</string>
            </dict>
            <key>xuanzhonglanse-tm.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,704},{1,1}}</string>
                <key>offset</key>
                <string>{-99.5,62.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{200,126}</string>
            </dict>
            <key>xuanzhonglanse.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,800},{200,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,126}}</string>
                <key>sourceSize</key>
                <string>{200,126}</string>
            </dict>
            <key>xuanzhonglvse1-tm.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,704},{1,1}}</string>
                <key>offset</key>
                <string>{-70.5,59.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{142,120}</string>
            </dict>
            <key>xuanzhonglvse1.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,765},{142,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,120}}</string>
                <key>sourceSize</key>
                <string>{142,120}</string>
            </dict>
            <key>xuanzhonglvse2.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,909},{287,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,113}}</string>
                <key>sourceSize</key>
                <string>{287,113}</string>
            </dict>
            <key>xuanzhongzise.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,802},{200,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,126}}</string>
                <key>sourceSize</key>
                <string>{200,126}</string>
            </dict>
            <key>xuanzhongzise1.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,369},{142,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,120}}</string>
                <key>sourceSize</key>
                <string>{142,120}</string>
            </dict>
            <key>xuanzhongzise2-tm.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,704},{1,1}}</string>
                <key>offset</key>
                <string>{-142.5,55.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{286,112}</string>
            </dict>
            <key>xuanzhongzise2.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,629},{286,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,112}}</string>
                <key>sourceSize</key>
                <string>{286,112}</string>
            </dict>
            <key>xutou-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,653},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>xutou-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,661},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>xutou.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,661},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>yinxiao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,603},{50,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{50,64}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,537},{50,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{50,64}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>yinxiaox-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,567},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{52,64}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>yinxiaox.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,513},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{52,64}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>yinyue-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,127},{52,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>yinyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,196},{52,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>yinyuex-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,847},{54,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>yinyuex.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,847},{54,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>yishikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{88,533}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,533}}</string>
                <key>sourceSize</key>
                <string>{88,533}</string>
            </dict>
            <key>zhuangjiabianhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,515},{250,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,68}}</string>
                <key>sourceSize</key>
                <string>{250,68}</string>
            </dict>
            <key>zhuangjialunhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,369},{162,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,44}}</string>
                <key>sourceSize</key>
                <string>{162,44}</string>
            </dict>
            <key>zhuangjiatubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,975},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fqzs.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f1939803803b278c192ad24ff21d984:1/1$</string>
            <key>textureFileName</key>
            <string>fqzs.png</string>
        </dict>
    </dict>
</plist>
