<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jcby_danpao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,113},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jcby_danpao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,113},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jcby_fast-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,113},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jcby_fast.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,2},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jcby_jianpao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jcby_jianpao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,2},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jcby_jiapao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,113},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jcby_jiapao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,113},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jcby_jiesuo-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,2},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jcby_jiesuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,113},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jcby_paotai-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jcby_paotai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,2},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jcby_shoudong-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,113},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jcby_shoudong.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jcby_show-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,113},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jcby_show.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jcby_shuoming-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,113},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jcby_shuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,113},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jcby_suoding-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jcby_suoding.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,113},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jcby_task-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jcby_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jcby_tuichu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,113},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jcby_tuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jcby_yincang-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,113},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jcby_yincang.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{106,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jcby_zidong-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>jcby_zidong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamefish_jcby.png</string>
            <key>size</key>
            <string>{1524,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3b7101c2321ecde4a227797712f80b0:1/1$</string>
            <key>textureFileName</key>
            <string>gamefish_jcby.png</string>
        </dict>
    </dict>
</plist>
